[2014-06-13 19:23] zzmp opened #11 "Add hyperlinks to docs"
There should be easier docs navigation than provided for within `rustdoc`, using the same linking scheme.

Any time we reference another trait/struct/fn in our `/// comments`, we should use markdown to link them correctly to their doc like so:

[`Furnace`](../../iron/furnace/trait.Furnace.html)

The relative link is dependent on where we are in the file structure (look at generated docs for more d

[2014-06-14 19:08] zzmp opened #14 "Request, Response may be only choices for coercion - not extensible"
Types are coerced in Iron with no extensibility. The only choice for coerced types is, at this point, IronRequest and IronResponse, unless we retool the boot process.

The coercion would need to be stored in the Iron struct as functions.
This might be better saved until we have something to work with besides **rust-http**, but I want to keep it in mind.

[2014-06-16 05:02] #14 closed, assigned to nobody

[2014-06-16 10:58] zzmp opened #33 "Unsafe transmutation of lifetimes."
By not exposing lifetimes, we are transmuting them unsafely. This may or may not be an issue, but if there is a way around it, we should avoid it.

See #30 and [this forked branch](https://github.com/zzmp/iron/tree/bug/response-lifetime).

[2014-06-17 00:49] reem opened #35 "Uncomment denial of missing docs and compile cleanly"
Title says it all.

[2014-06-17 02:06] #33 closed, assigned to nobody

[2014-06-17 20:44] zzmp opened #40 "Standardize Request and Response with HttpRequest, HttpResponse"
Currently, `HttpResponse` is used to separate the lifetimes from `Response`.

Something similar should be implemented for `Response` symmetry, and to allow more granular changes to the `Response` and `Request` wrapper constructors.

[2014-06-17 21:09] zzmp opened #42 "Abstract Iron to traits for extensibility."
`Iron` is hard-coded to use **rust-http**, as it is a `pub struct`.

Eventually, we should consider abstracting its `impl` to traits (potentially with defaults to **rust-http**) so that other crates/bindings can be used.

[2014-06-17 21:16] #40 closed, assigned to nobody

[2014-06-20 07:11] #42 closed, assigned to nobody

[2014-06-20 07:12] #35 closed, assigned to nobody

[2014-06-25 04:52] reem opened #67 "Move code generation into its own module to prevent constant recompilation"
Title says it all.

[2014-06-25 04:52] reem opened #68 "Change code generation into a macro, procedural or not."

[2014-06-30 08:28] zzmp opened #76 "fn is no longer cloneable"
This is due to the implicit bound lifetimes in `&mut`. See https://github.com/rust-lang/rust/issues/14820

Until this is fixed upstream, we'll need to have a wrapper for functions. Essentially, that is what middleware _is_, so this merits discussion.

If we do, it can be something like `pub struct MiddleFn(fn (&mut ...) -> Status)`, where we will `impl Clone for MiddleFn` and `impl Middleware for

[2014-07-01 06:17] zzmp opened #80 "Make submodules private so that the reexport is the point of documentation"
From IRC (@cmr):

[code]

[2014-07-01 17:50] #80 closed, assigned to nobody

[2014-07-03 00:20] reem opened #85 "Get consistent benchmarks."
wrk and ab report radically different numbers. We have to bench this more accurately.

[2014-07-08 23:40] #76 closed, assigned to nobody

[2014-07-09 21:36] #85 closed, assigned to nobody

[2014-07-10 08:14] zzmp opened #91 "Convert `&str` and `String` arguments to use `BytesContainer`"
See #89

[2014-07-10 15:05] msierks opened #93 "headers modified after res.serve() are never written to response"
Headers are written on res.serv(), therefore headers added after are ignored. I don't think this is the desired outcome.

example:

[code]

[2014-07-10 22:39] reem opened #94 "Create some kind of warning for writing to headers after body"
#93 points out that headers can't be written after the body. Right now this fails rather silently, which is extremely not ideal.

[2014-07-11 14:19] #93 closed, assigned to nobody

[2014-07-13 13:05] emk opened #95 "Return "404 Not Found" when no middleware handles a request"
Thank you for such a cool Rust library!

The following Express server has no middleware, and it returns 404 Not Found for all requests:

[code]

This makes sense, because if no middleware chooses to handle a given request, treating it as a 404 Not Found gives sensible results.

But if we do the same thing in Iron:

[code]

…we get a 200 OK with an empty body:

[code]

This means that every Iron ap

[2014-07-14 16:14] jnicklas opened #97 "Is the current API problematic with regards to concurrency?"
Hi guys, I just checked out the Iron docs, and I realized that there might be potential problems with the way the middleware API is designed, given that requests could be served concurrently. I may be way of base with this, so feel free to call me and idiot in case my reasoning is off.

Here's the middleware example from the homepage:

[code]

`ResponseTime` is instantiated once for the server, it

[2014-07-14 18:57] #97 closed, assigned to nobody

[2014-07-14 23:48] killercup opened #98 "Incorrect Links and Other Smaller Stuff"
I'm quite impressed by this project! I was just browsing through the documentation and noticed these little things, which are themselves far too small for individual issues:
- The link to _urldecoded_ in the Readme doesn't work (it's spelled urlencod_ing_).
- You say "Iron averages 17,000+ requests per second for hello world." but this information is worthless with nothing to compare it to. How ma

[2014-07-15 02:46] zzmp opened #100 "Use cargo install script"
Cargo now uses an install script, and this makes Travis fail:

[code]

We'll need to update our `.travis.yml` to account for this.

[2014-07-15 21:18] #100 closed, assigned to nobody

[2014-07-18 07:10] cengiz-io opened #102 "Document a proper way to benchmark"
I was excited and close to a nerdgasm after I read this, however I can't reach anywhere close to that number while testing with **ab**.

Here's the best result I could get

[code]

Increasing concurrency breaks after a certain point

[code]

I'm using `hello.rs` from examples and Cargo is my builder.

**Oh** and here are some server info (I like the way it does this)

[code]

Maybe **ab** has some

[2014-07-21 07:59] #102 closed, assigned to nobody

[2014-07-22 00:34] #11 closed, assigned to nobody

[2014-07-22 00:35] reem opened #105 "Wrap Request and Response to add friendlier APIs"

[2014-07-22 00:43] reem opened #106 "Add more robust error-handling"

[2014-07-23 23:14] #91 closed, assigned to nobody

[2014-07-24 20:37] #95 closed, assigned to nobody

[2014-07-25 03:08] #98 closed, assigned to nobody

[2014-07-25 03:50] #67 closed, assigned to zzmp

[2014-07-25 05:25] #68 closed, assigned to zzmp

[2014-07-25 23:30] #106 closed, assigned to nobody

[2014-07-26 08:40] #94 closed, assigned to nobody

[2014-07-26 08:40] #105 closed, assigned to nobody

[2014-08-04 17:35] brycefisher opened #117 "Introducing DefaultErrors"
@reem,

Last week I promised to create a new piece of middleware to provide an easy error messages for specific status codes. Today, I deliver on that promise with [DefaultErrors](https://github.com/brycefisher/defaulterrors).

It's an early version, but it allows you to register a response (either a static string or file) for a specific http status code. For instance, you can register a custom 40

[2014-08-05 04:36] #117 closed, assigned to nobody

[2014-08-06 07:32] reem opened #118 "Move alloy to Request::alloy"
This many advantages, the least of which is it means enter and exit have shorter signatures. Mostly, this allows a transition from manually looking things up in an alloy to using Mixins.

[2014-08-07 09:16] reem opened #121 "Make doc-tests pass. Right now this fails travis."
Travis is failing because doc examples do not compile and cargo runs these as part of cargo doc now.

[2014-08-07 09:16] reem opened #122 "Update docs and examples ahead of #119"

[2014-08-07 19:11] #121 closed, assigned to nobody

[2014-08-08 17:11] #122 closed, assigned to nobody

[2014-08-08 17:23] reem opened #125 "Templating Engine Support (as Middleware, ideally)"
mustache is probably the only thing worth supporting right now

[2014-08-08 17:24] reem opened #126 "Convenient Getters/Setters for common headers (content type, status code, etc.)"
`.type()`
`.code()`
`.x()`
etc.

[2014-08-09 04:33] #118 closed, assigned to nobody

[2014-08-09 23:39] brycefisher opened #128 "Handle Url Encoded Urls"
@zzmp - currently, urls with url-encoded values cause Iron to silently fail (or trigger the `on_error()` method). This is true even outside query parameters. Apparently, we need to use rust-encoding to properly handle these values.

[2014-08-10 00:22] #128 closed, assigned to zzmp

[2014-08-12 02:07] michaelsproul opened #130 "(feat) Provide a useful interface to Request URL data."
Exposing a `url::Url` is less than ideal as we know the URL will always be in a [relative scheme](http://url.spec.whatwg.org/#relative-scheme) like HTTP or HTTPS.

@SimonSapin's `rust-url` strictly adheres to the [WhatWG URL spec](http://url.spec.whatwg.org/), so I don't think we can expect upstream changes for our own convenience.

To provide Iron users with a friendlier interface for HTTP and HT

[2014-08-14 07:09] reem opened #133 "Type-Safe, Lazy, Order-Independent Plugin System"
I've come up with and implemented a new scheme for fast, safe, type-directed plugins that allow types to be extended in a type-safe way. I implemented a version of this solution here: https://github.com/reem/rust-plugin.

My general thoughts are that we should expose a system similar to the one in rust-plugin, in fact we can even use it as soon as anymap is updated for the methods necessary.

Effe

[2014-08-14 22:34] #130 closed, assigned to nobody

[2014-08-15 00:19] reem opened #134 "Iron-Universal Error Type"
We need one. I'm not completely satisfied with `Box<Show>`. Let's come up with a better solution.

[2014-08-15 07:17] reem opened #137 "Add universal, configurable parsing as a built-in feature or core middleware"
Things like parsing the body are so basic that I think we should include them as builtins, so that `request.decode::<SomethingDecodable>()` works right out of the box. However, this should be highly configurable, and significant thought is needed into how this should work.]

Will post tomorrow with further thoughts.

[2014-08-15 16:42] #133 closed, assigned to nobody

[2014-08-20 03:49] reem opened #143 "Compile Common"
- [x] Router
- [x] Mount
- [x] Persistent
- [ ] Static File
- [ ] Parsers (unlikely to be fixed, should be obsoleted by decode when I get something working)
- [ ] Logger
- [ ] Cookie
- [ ] Session

Not Common:
- [ ] Iron-Cors
- [ ] Iron-Test

[2014-08-23 03:49] reem opened #147 "Add auto-generation of new docs"

[2014-08-23 17:00] #147 closed, assigned to zzmp

[2014-08-26 09:04] #134 closed, assigned to reem

[2014-08-28 08:41] reem opened #150 "Substantial Sample Application"
Should include widespread use of many middleware, API integration, database integration, etc. I'd love to see what a full app written in Iron actually looks like and it would be extremely helpful for people trying to learn the framework.

[2014-09-02 04:52] brycefisher opened #155 "Ergonomics - AroundMiddleware"
When writing AroundMiddleware, so far I'm relying using Option<Handler> in my own struct so that I can create AroundMiddleware without a handler before the `with_handler()` method passes in the real handler. Is there a better way to do this? It seems to make my code unnecessarily complex. Thanks!

[2014-09-02 14:45] brycefisher opened #157 "Make iron/iron's travis go green (pass all tests)"
Last nightly [rust-ci build](https://travis-ci.org/iron/iron/builds/34164796) failed due to [reem/rust-unsafe-any](https://github.com/reem/rust-unsafe-any) dependency. reem/rust-unsafe-any failed `cargo doc`:

[code]

[2014-09-02 19:16] reem opened #158 "Remove old Response methods"
Obsoleted by new way to construct Response's.

[2014-09-02 19:46] #157 closed, assigned to nobody

[2014-09-03 17:34] #158 closed, assigned to nobody

[2014-09-03 21:00] brycefisher opened #163 "Question -- convert u16 into http:status::Status enum?"
I'm unable to get the equivalent code working in DefaultErrors:

[code]

Normally, I receive the error message "unresolved name from_u16". Do you have any insight into how I might get this working?

[2014-09-03 21:17] #163 closed, assigned to nobody

[2014-09-03 22:19] brycefisher opened #164 "Response.from_file() should not automatically override existing Response"
@michaelsproul @reem I know you guys just updated this, but I'd like to argue that we shouldn't do too much in `from_file()` (or we ought to provide a less opinionated convenience method).

 Specifically, in my library DefaultErrors, I want to be able to serve a static file as an error message to site visitors. The status should not be 200 -- it should be 404, 500, etc. Perhaps my use case is limi

[2014-09-04 00:27] #164 closed, assigned to nobody

[2014-09-04 01:10] michaelsproul opened #165 "Creating AroundMiddleware is tricky."
Capturing a handler inside a struct implementing `AroundMiddleware` is unergonomic. It seems like quite a natural pattern would be:

[code]

The problem is that it's impossible to create an empty `SomeStruct` without a handler. I see two solutions:
1. Use an optional handler inside structs implementing `AroundMiddleware` (requires more matching).
2. Make `AroundMiddleware`'s method static to encou

[2014-09-04 01:11] #165 closed, assigned to nobody

[2014-09-08 06:40] Valve opened #171 "Describe how to write unit tests for middleware"
Currently I want to fix https://github.com/iron/static-file/issues/36. Coming from Ruby/JS my first attempt would be to write a unit/integration test to confirm the bug, then fix it, rerun the tests and see them go green. I don't know where to start in writing a unit test for a middleware.

Please update the documentation with at least one example of doing it.

[2014-09-09 04:58] reem opened #172 "Consider hyper when it becomes more stable"
https://github.com/seanmonstar/hyper

[2014-09-09 22:41] jakejscott opened #174 "Can't build using Rust nightly"
![screenshot from 2014-09-10 10 39 09](https://cloud.githubusercontent.com/assets/287641/4210170/54a4a5f8-3872-11e4-9095-ec2b113b8a18.png)

[2014-09-09 22:43] #174 closed, assigned to nobody

[2014-09-09 23:15] #155 closed, assigned to nobody

[2014-09-15 07:36] Valve opened #177 "Create a friendlier development workflow"
Currently it's not possible to develop an application with Iron, following the 'change-refresh-test` paradigm. This approach is very convenient and is used in many modern web frameworks.
With interpreted languages this paradigm is natural, scripts are re-parsed and re-executed for every browser request. With compiled languages it's possible if the compilation is fast enough.

Rust compiler is fair

[2014-09-20 06:45] #126 closed, assigned to nobody

[2014-09-21 10:40] Eilie opened #182 "Hello world benchmark"
Hello, made a simple benchmark with hello.rs example and 'wrk' as benchamrking tool:

<pre>
$ wrk -c 10 -t 10 http://0.0.0.0:3000
Running 10s test @ http://0.0.0.0:3000
  10 threads and 10 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency   267.33us  287.79us   9.02ms   98.94%
    Req/Sec     4.27k     1.41k    7.55k    52.58%
  401271 requests in 9.99s, 29.47MB read
Requ

[2014-09-23 13:08] tarekziade opened #183 "pinning deps versions ?"
replace-map is currently broken see, https://github.com/reem/rust-replace-map/issues/2

To fix this, I have pinned it to rev 2bbe0c9352f1a781293e52e88d21f79644a405a9 in the cargo file

Since some of the deps are very new projects, what about pinning all of them to specific revisions so "cargo build" works ?

[2014-09-23 13:28] #183 closed, assigned to nobody

[2014-09-24 12:42] reem opened #186 "Weirdness with ChainBuilder.catch"
An error returned by ChainBuilder.call causes all the middleware to be run twice... Not ideal. Perhaps we should just remove ChainBuilder.catch?

[2014-09-28 18:10] tak1n opened #187 "Hello World not working"
Not sure what I'm making wrong, but for [this example](https://github.com/Benny1992/RustApplications/tree/master/IronApp) I'm getting following output

[code]

Environment:

[code]

[2014-10-03 23:51] chad-russell opened #189 "Cannot compile on OS X"
Trying to compile on OS X: I cloned, ran "cargo build", and got the following error:

`
note: ld: warning: directory not found for option '-L/Users/chadrussell/.cargo/git/checkouts/rust-http-content-type-e95bbac12cca2eca/master/generator/.rust'
Undefined symbols for architecture x86_64:
  "_BN_is_zero", referenced from:
      bn::BigNum.Zero::is_zero::hb7701ad9f388df0fbTa in libopenssl-fbe75530f7e

[2014-10-09 07:24] davidrhyswhite opened #191 ""Experimental slicing" errors when compiling against latest rust nightly"
I've just tried compiling iron framework on a pretty new OS X, with the latest nightly build of rust. I seem to be getting some errors around experimental slicing syntax.

I'm fairly new to rust so unfortunately can't give much more information that at the moment, I've included the `rustc` version below.

[code]

This is the output from a `cargo test`, I essentially get the same running `cargo bui

[2014-10-09 09:07] #189 closed, assigned to nobody

[2014-10-09 09:07] #187 closed, assigned to nobody

[2014-10-09 09:15] whodidthis opened #192 "Response time example"
examples/time.rs example is currently not working

[code]

I don't know if there are too many changes coming for it to be fixed, but if not it could be a useful example to find out how to currently use Iron.

[2014-10-09 19:09] #191 closed, assigned to nobody

[2014-10-10 16:44] #192 closed, assigned to nobody

[2014-10-10 17:25] jacek99 opened #195 "fails to compile with latest nightly"
Grabbed the latest nightly and Iron-Core, tried to get a basic app going, compile error in one of the dependencies

cargo run
   Compiling rust-crypto v0.1.0 (https://github.com/DaGenix/rust-crypto.git#d2899328)
   Compiling typemap v0.0.0 (https://github.com/reem/rust-typemap.git#895f26e2)
   Compiling error v0.0.0 (https://github.com/reem/rust-error.git#7d34ac82)
   Compiling url v0.1.0 (https:/

[2014-10-11 23:25] #195 closed, assigned to nobody

[2014-10-14 12:00] gaudecker opened #196 "Redirect response"
It would be useful to have a quick way to send a redirect response. Something like:

[code]

Any thoughts?

[2014-10-15 07:51] #196 closed, assigned to nobody

[2014-10-22 21:21] jedahan opened #203 "Advertise req.extensions TypeMap more prominently"
A few weeks ago I was evaluating rust frameworks. I was leaning towards another one until I saw the concept of alloy, which really sold me on trying iron.

Now instead of alloy being this special feature, it is just a default included TypeMap on req.extensions (hooray for things not being magic!). I think its a strength of the design of iron, and would recommend resurrecting some of the wording th

[2014-11-08 09:18] schickling opened #213 "Swagger 2.0 support"
I'm a huge fan of the Swagger API documentation project (http://swagger.io). For many frameworks in many different languages support for Swagger is already implemented and yields a big advantage.

I think it would be awesome to provide Swagger support for nickel as well. What do you guys think is the best approach? Perhaps as a standalone crate which can be somehow mounted and fed with the request

[2014-11-09 15:20] barosl opened #214 "Server panicked while sending data"
[code]

I am not sure that this problem is related to Iron or not, but the server process panicked after several days. What would be the reason?

[2014-11-10 12:12] torhve opened #217 "Allow ContentType to set charset"
Current implementation is:

[code]

It seems like a common use case would be to set charset of the request. I would like to send in charset UTF-8 into that vector.

[2014-11-10 21:19] #214 closed, assigned to nobody

[2014-11-13 10:27] #182 closed, assigned to nobody

[2014-11-14 09:10] reem opened #220 "Iron By Example -- Planning"

[2014-11-20 20:29] jaredly opened #225 "response streaming?"
Is there a way to stream an IronResponse?

[2014-11-22 04:17] #172 closed, assigned to nobody

[2014-11-22 04:17] #217 closed, assigned to nobody

[2014-11-22 18:47] ProtectedMode opened #232 "Put middleware on crates.io"
Currently, I get the following build error when trying to build with the session middleware:
[code]
As far as I know, this is because Iron uses OpenSSL from crates.io, while the session middleware still uses the OpenSSL library from Github.

Whether this issue is caused by the middleware not being on crates.io, is still irrelevant to the fact that it be better if everything could be found on crate

[2014-11-23 20:07] DominikGuzei opened #233 "Failing to build with latest rust nightly (0.13)"
Hey there,
I just wanted to try out the iron framework but it fails to compile due to an API change to `std::rt::mutext::NativeMutex` used by the openssl2-sys crate.

This is the error:

[code]

Is there a way to fix openssl2-sys somehow?

[2014-11-24 02:32] #233 closed, assigned to nobody

[2014-11-24 03:28] renato-zannon opened #234 "Unable to run hello-world example"
Hi, I'm trying to run iron's `hello` example from the `examples` directory. But I get the following error as soon as I try to hit the server with `curl`:

[code]

[Full log, with RUST_LOG=debug](https://gist.github.com/renato-zannon/cbefbb4ce739c13a4803)

`cargo test` shows no error

[2014-11-25 06:16] #234 closed, assigned to nobody

[2014-11-25 08:02] letharion opened #237 "Hello world sample yields HttpIoError"
Running the hello world application works just fine, in that it returns the right response, but the server says:

[code]

With the IoError repeating for every request.

[2014-11-25 08:42] #237 closed, assigned to nobody

[2014-11-26 00:18] qubyte opened #238 "Compilation error (hyper) with hello.rs example"
I see the following output in verbose mode while compiling:

[code]

[2014-11-26 00:35] #238 closed, assigned to nobody

[2014-11-26 13:35] s-panferov opened #239 "Allow several handlers"
Hello @reem. It's cool that you moved Iron to Hyper. So I am happy to say that I am moving [rustless](https://github.com/rustless/rustless) to Iron.

During the process of porting I found several things that disappoint me a little bit. The first one is support of only one `Handler` for application. I came from Ruby world and I saw a lot of projects that use both Rails and Sinatra/Grape. Rails serv

[2014-11-29 14:56] kerinin opened #240 "Allow regexp-based routing and param capture"
A handy feature of Martini is the ability to use regexps and named capture groups to route requests (https://github.com/go-martini/martini#routing).

This can be helpful for constraining the format of parameters, or for parsing more complex routes than simple globs allow.

Looks like you're using `route-recognizer` for globbing, so I guess this would require re-writing the path matcher.

[2014-12-21 01:39] graue opened #245 "Error handling shows wrong port"
I've got a server running on localhost:3000, yet going to a URL that doesn't have a route defined shows:

[code]

Note port 80 in the URL.

As a guess, perhaps something isn't passing the port along, so `from_generic_url` is defaulting to 80.

[2014-12-21 18:42] khades opened #246 "error: unresolved import `error::ErrorRefExt`. There is no `ErrorRefExt` in `error` at build"
Using latest rust for x64 linux.

   Compiling iron v0.0.8 (https://github.com/iron/iron.git#a82c75c2)
     Running `rustc src/lib.rs --crate-name iron --crate-type lib -g -C metadata=7dae21dfa93b73d6 -C extra-filename=-7dae21dfa93b73d6 --out-dir /home/khades/test-project-rust/target/deps --dep-info /home/khades/test-project-rust/target/.fingerprint/iron-7dae21dfa93b73d6/dep-lib-iron -L /home/khad

[2014-12-25 21:46] leonbohn opened #250 "multiple matching crates for `log`"
When trying to compile a small example with iron 0.0.9 I get the following errors.

    warning: using multiple versions of crate `regex`
    C:\Users\leon\.cargo\registry\src\github.com-1ecc6299db9ec823\hyper-0.0.17\src\lib.rs:136:1: 136:21 note: used here
    C:\Users\leon\.cargo\registry\src\github.com-1ecc6299db9ec823\hyper-0.0.17\src\lib.rs:136 extern crate mucell;

[2015-01-01 14:00] rndr opened #253 "wiki page "How to Benchmark hello.rs Example" may be in need of update"
[this](https://github.com/iron/iron/wiki/How-to-Benchmark-hello.rs-Example) page was last time update Nov 5, 2014.
while it's definitely depends on hardware and everything that runs around, i'm getting ~10x times smaller number of request/sec:
[code]
with
[code]
and
[code]
84,000+ number is also mentioned in [README.md](https://github.com/iron/iron/blob/master/README.md)

[2015-01-01 17:07] reem commented on #253
When you run `cargo run --release --example hello` cargo ignores the `--release` flag when you set `--example`, which is why you are seeing poor performance. Build iron with `cargo build --release` and then compile `hello.rs` manually using `rustc --opt-level=3 examples/hello.rs -L target/release -L target/release/deps -C lto --cfg ndebug` to get a fully optimized binary to test with.

[2015-01-04 11:36] blacksoil opened #255 "Build failure on the the latest rust-nightly build"
aharijanto@aharijanto-ThinkPad-X201:~/Programming/iron$ cargo build
   Compiling regex v0.1.6
   Compiling pkg-config v0.1.3
   Compiling modifier v0.0.5
   Compiling phantom v0.0.2
/home/aharijanto/.cargo/registry/src/github.com-1ecc6299db9ec823/modifier-0.0.5/src/lib.rs:23:57: 23:61 error: the trait `core::kinds::Sized` is not implemented for the type `Self`
/home/aharijanto/.cargo/registry/src/

[2015-01-05 19:12] reem commented on #246
This was fixed a while back, so closing.

[2015-01-05 19:12] #246 closed

[2015-01-05 21:55] blacksoil commented on #255
There's another issue when compiling "error" crate:

cargo build
   Compiling error v0.0.3 (file:///home/aharijanto/.cargo/registry/src/github.com-1ecc6299db9ec823/error-0.0.3)
/home/aharijanto/.cargo/registry/src/github.com-1ecc6299db9ec823/error-0.0.3/src/lib.rs:10:16: 10:19 warning: deprecated syntax; use the `self` keyword now
/home/aharijanto/.cargo/registry/src/github.com-1ecc6299db9ec823/er

[2015-01-11 09:50] sunng87 commented on #125
Hi, I have talked with @reem in IRC but also want to update here. I have been working on a [handlebars template engine for rust](https://github.com/sunng87/handlebars-rust) and I'm going to create an [iron middleware](https://github.com/sunng87/handlebars-iron) for integration.

By far, the handlebars-rust project is almost finished and should support most of handlebars features, helper customizat

[2015-01-11 15:20] sunng87 commented on #125
To answer some questions above, handlebars is a widely used template syntax created by Yokuda Hatz (yes, it's who made cargo also) originally in javascript. In handlebars-rust, there is a tricky point that you have to make the data implements `ToJson` so we can render it. Because in handlebars, there's if/else, each and some other custom flow controls, data are not only for rendering, but also to

[2015-01-11 15:37] reem commented on #125
Just a note, but its Yehuda Katz, aka wycats. :)

[2015-01-11 18:41] pzol commented on #250
This works in 0.0.11

[2015-01-11 22:05] #250 closed

[2015-01-12 02:42] sunng87 commented on #125
Oh, sorry for wycats.

[2015-01-13 20:23] danielbeutel commented on #255
Also failing on 1.0.0-alpha. Any plans to support alpha (and later beta/stable)?

[2015-01-13 20:25] reem commented on #255
Iron will continue to track nightly (like the rest of the ecosystem) until
1.0 stable, when it will split to have two branches, one for 1.0 stable and
one for 1.0 nightlies. This will continue into 1.X versions.

Eventually Iron itself will hit 1.0 and adopt a similar versioning scheme
to Rust itself, but that's a while off.
On Tue, Jan 13, 2015 at 9:23 PM Daniel <notifications@github.com> wrote:

[2015-01-14 02:58] sunng87 commented on #255
Refer this ICE that blocks iron build: rust-lang/rust#20676

[2015-01-14 15:37] iho opened #258 "Build failure on the the rust-1.0.0-alpha"
rustc -V
rustc 1.0.0-alpha (44a287e6e 2015-01-08 17:03:40 -0800)

[code]

[2015-01-14 17:02] reem commented on #258
@iho unfortunately this is the current situation, Iron will continue to track nightlies until 1.0 stable, where a solution for cases like this will be devised (perhaps some kind of switch for stable/unstable channels).

As a result, I'm going to close this, since nothing can really be done right now.

[2015-01-14 17:02] #258 closed

[2015-01-18 01:29] heynemann opened #260 "Build Failure"
Trying to use Rust on Ubuntu 14.10, I get this error:

    $ cargo build
       Compiling mucell v0.1.10
       Compiling plugin v0.2.0
       Compiling openssl-sys v0.2.16
       Compiling time v0.1.12
       Compiling mime v0.0.6
    ../../.cargo/registry/src/github.com-1285ae84e5963aae/mucell-0.1.10/src/lib.rs:99:14: 99:28 error: use of undeclared type name `marker::NoSync`
    ../../.cargo/reg

[2015-01-18 01:37] reem commented on #260
Nope, this isn't your fault at all. A dependency of one of Iron's dependencies, mucell, hasn't been updated for the latest version of rustc so it's broken right now. This should be fixed in the very near future, hang in there :).

[2015-01-18 08:40] eafzali commented on #260
I'm getting different error on Mac OS X, using latest version of iron and rust:
[code]
rust version
[code]

main.rs
[code]

[2015-01-18 12:04] reem commented on #260
Ya, that's a difference ICE in rustc, but that should be fixed in the next nightly.

[2015-01-18 15:35] sunng87 commented on #260
I confirm this ICE has been fixed in `rustc 1.0.0-nightly (f4f10dba2 2015-01-17 20:31:08 +0000)`

We should be blocked by the mucell error only.

[2015-01-18 15:52] reem commented on #260
I submitted a pull request to mucell to fix the build failure.

[2015-01-18 15:57] sunng87 opened #261 "Split hyper from iron core"
Currently, our http server hyper is built into core parts of Iron. If you look at Python's WSGI or Clojure's Ring, there is a protocol between webapp and web server. And the server implementation are made separated from the protocol and webapp. In Clojure, for example, the protocol is [ring](https://github.com/ring-clojure/ring), it's middleware based like Iron. It comes with a default server impl

[2015-01-18 16:04] reem commented on #261
I agree completely. I haven't really felt the need to do this yet since everything is still in flux and hyper is the only real option right now, but eventually I think there should be a protocol/trait layer between hyper and Iron so that you can swap out the hyper back end.

[2015-01-18 17:14] heynemann commented on #260
Thank you very much Jonathan!

Bernardo Heynemann
Developer @ globo.com

On Sun, Jan 18, 2015 at 1:52 PM, Jonathan Reem <notifications@github.com>
wrote:

[2015-01-19 00:48] jihokoo commented on #260
@reem i forked iron, hyper, and mucell with your fix and its working :+1:

[2015-01-19 00:48] reem commented on #260
@jihokoo Great, then we're just waiting for the mucell fix to be merged.

[2015-01-19 10:32] reem commented on #255
Fixed.

[2015-01-19 10:32] #255 closed

[2015-01-19 10:32] reem commented on #260
Fixed!

[2015-01-19 10:32] #260 closed

[2015-01-19 10:32] reem commented on #232
Fixed a while back.

[2015-01-19 10:32] #232 closed

[2015-01-19 10:33] reem commented on #225
Closing since there's not a huge action item for us here. Feel free to comment if you think there's more to say here.

[2015-01-19 10:33] #225 closed

[2015-01-19 10:34] reem commented on #239
Closing, unless you have a further action item.

[2015-01-19 10:34] #239 closed

[2015-01-19 12:59] heynemann commented on #260
Tried building today on mac os.

This was the output:

    Updating registry `https://github.com/rust-lang/crates.io-index`
     Downloading mucell v0.1.11
     Downloading cookie v0.1.8
     Downloading phantom v0.0.3
     Downloading typemap v0.0.7
     Downloading hyper v0.1.1
     Downloading mime v0.0.6
     Downloading time v0.1.12
     Downloading url v0.2.16
     Downloading gcc v0.1.5

[2015-01-19 14:16] sunng87 commented on #125
The middleware [handlebars-iron](https://github.com/sunng87/handlebars-iron) is done and available from crates.io

[2015-01-19 15:37] reem commented on #260
@heynemann, it looks like your rust install is borked, since it can't find `core` or `std` which are the internal and external std libs respectively. Try to uninstall and reinstall using the rustup.sh script.

[2015-01-19 16:51] heynemann commented on #260
I did install today with rustup... ;( Maybe problem of using mac os?

[2015-01-19 16:56] reem commented on #260
Nope, I'm on OS X too. This happens every once in a while, just uninstall and reinstall and that usually fixes it.

[2015-01-19 17:34] rndr commented on #253
i've finally been able to compile iron (deps, 1.0-alpha, ...) and with rust-lang/cargo#831 being fixed if i run `cargo run --release --example hello` i'm getting:
[code]
I've tried building by hand with your commands and it's same.
I guess it might be me running ubuntu under VMWare VM. Closing?

[2015-01-19 17:37] reem commented on #253
It's probably because of the VM, I just ran the same thing and got 85k. Closing.

[2015-01-19 17:37] #253 closed

[2015-01-20 08:13] s-panferov opened #263 "Files upload"
Hello @reem, have you already thought about support of file uploads with `multipart/form-data`? Maybe you have some ideas how it can be implemented the best way.

It looks like @cybergeek94 already made [multipart](https://github.com/cybergeek94/multipart) library for Hyper, but he has some [issues with Iron integration](https://github.com/cybergeek94/multipart/issues/1). What do you think about i

[2015-01-20 20:24] cybergeek94 commented on #263
I haven't been maintaining multipart lately due to lack of interest but I definitely wouldn't mind it becoming a component of Iron.

The main issue is that Iron provides the request body to its middleware as `Vec<u8>` which is kind of a bad idea if you want to support large request bodies, such as with file uploads. I shared some ideas in a Reddit discussion a while back but I don't know if anythi

[2015-01-20 22:33] reem commented on #263
It's possible that `Request` could be changed to allow streaming of the input data. I've thought about it and the issues that come up with direct `Response` streaming aren't really an issue for `Request`, since there is only one state (i.e. no "status line written", "headers written", "nothing written" etc.).

The major issue I anticipate is that this makes testing a bit trickier, but from my memo

[2015-01-20 22:35] reem commented on #263
I can take a crack at making this change tomorrow, but it's not too complex a change and probably interesting if either of you wants to give it a try first.

[2015-01-21 00:37] reem opened #265 "Allow streaming of the request body"
cc #263

This is really a necessary improvement to support common operations like file upload and many other use cases.

[2015-01-21 00:55] heynemann commented on #260
Still failing with mucell... ;( Do I have to install mucell trunk or something? Sorry for all the questions. Trying out rust for the first time.

[2015-01-21 00:56] reem commented on #260
@heynemann run `cargo update` to get the latest versions of all the dependencies, including mucell.

[2015-01-21 01:36] heynemann commented on #260
That did it ;) I got hello.rs running. The only issue I'm seeing is that in my ubuntu 14.10 I'm seeing somewhere near 8.5k reqs/sec. Nowhere near 84k reqs/sec. That's good enough anyway! Thanks for your help!

[2015-01-21 01:49] reem commented on #260
@heynemann Did you compile with optimizations or are you running on a VM? Make sure that when you benchmark you use the `--release` flag with cargo, i.e. `cargo run --release --example hello`.

[2015-01-21 03:11] cybergeek94 opened #267 "Implement `Handler` for `Fn(Mut) + Send + Sync`"
Unboxed closures are here to stay, and mostly stable now. I don't think there are any issues with this.

[2015-01-21 05:55] s-panferov commented on #213
I have been implementing Swagger 2.0 support in [Rustless](https://github.com/rustless/rustless). It's quite easy in Rustless, because it has a knowledge about request params schema.

After that, using my experience, I'll try to implement it for Iron. I think it's not a big deal in a simple case, but it requires some knowledge about request parameters and responses:

1. We can leave them blank (it

[2015-01-21 09:20] eafzali commented on #260
Thanks @reem, I can also compile and run Hello world example now:
[code]
It's responding in browsers and using curl:
[code]

but something weird happens, I can not bench it using Apache Bench:
[code]

I've tried to listen on 0.0.0.0:3000 and accessing it from another host but the same thing happened.

I have also put a `println!("new req")` inside the handler but it just prints "new req" for examp

[2015-01-21 09:32] schickling commented on #213
I think the third option (DSL) would be the best fit. Could this be implemented as a middleware or does it have to be in the core?

[2015-01-21 11:08] sunng87 commented on #213
I believe this is too high-level to be in the core. From its clojure/ring implementation and [application](https://github.com/metosin/compojure-api), I think it will be implemented as a standalone library/framework, maybe mount-able to ring and has its own default routers.

[2015-01-21 12:36] reem commented on #260
Ugh ya, benchmarking with `ab` is super borked and I've never really been able to figure it out. Try using `wrk` instead, that tends to work much better.

[2015-01-21 15:46] reem commented on #267
This appears to already be done: https://github.com/iron/iron/blob/master/src/middleware.rs#L279

Is there something else that this doesn't cover?

[2015-01-21 17:45] ProtectedMode commented on #143
You should uncheck "Logger" and "Static File" since these don't compile. Maybe you should also create a note in the readme about the current state of middleware, since the current state is a bit deceiving in my opinion.

I also want to emphasize the need for these middleware crates to compile, since a framework is basically useless without them for a bit more advanced projects...

[2015-01-21 17:49] reem commented on #143
@ProtectedMode I agree completely. Recently it's been a challenge to keep just Iron itself compiling, but now that things are calming down a bit I think we get back to stability (and getting everything compiling).

[2015-01-21 18:21] reem opened #268 "Allow unsafely writing to the response stream directly"
Perhaps this can be done via scoped TLS?

[2015-01-21 18:25] reem commented on #240
The current approach is much faster and has a simpler implementation (from Iron's perspective), so I doubt this change will be made. If you have any killer reasons or examples of why regex based routing is needed over our current glob and param matching, I might be convinced, but otherwise closing as wontfix.

[2015-01-21 18:25] #240 closed

[2015-01-21 19:06] cybergeek94 commented on #267
Ah. [The docs just need rebuilt then.][1] :smile:

[1]: http://ironframework.io/doc/iron/middleware/trait.Handler.html

[2015-01-21 19:06] #267 closed

[2015-01-22 16:45] ProtectedMode opened #271 "Add core middleware to rust-ci"
It would be easier to spot broken middleware (and possibly fix them) if rust-ci was enabled for the core middleware.

[2015-01-23 02:36] reem opened #272 "Simplify the error system and associated middleware constructs"
The current error system is extremely complex, and I've found myself very dissatisfied with the situation. Things are much too difficult to understand and the implementation is under-specced and in all likelihood buggy.

The new system will mostly ditch the idea of "handling" errors in favor of just returning an alternate Response and getting on to other non-broken requests. More details to come e

[2015-01-23 06:11] michaelsproul commented on #245
Sorry it took so long to get a fix for this!

Thanks for reporting!

[2015-01-26 15:04] #245 closed

[2015-01-26 16:14] reem opened #277 "Examples have unreachable printlns"
Due to the new join guard structure, these printlns are no longer reachable.

[2015-01-27 02:00] reem commented on #213
From the discussion it looks like this can be done out of core, so I'm closing.

Feel free to rekindle discussion elsewhere or try to convince me that this needs to go in iron proper and I should reopen.

[2015-01-27 02:00] #213 closed

[2015-01-27 02:01] reem opened #279 "Add the iron keyword to all related packages on crates.io"

[2015-01-27 06:30] s-panferov commented on #213
I just want to add to my items:

1. This is pretty useless.
2. Now I have been working on JSON Schema library for Rust. After I'll finish the library, this scenario can be implemented for [iron/router](https://github.com/iron/router).
3. This is already covered by [rustless](https://github.com/rustless/rustless) and I see unrealistic to make the same in some *simple* Iron middleware.

[2015-01-28 05:58] #186 closed

[2015-01-28 05:58] #272 closed

[2015-01-28 06:09] #265 closed

[2015-01-28 06:39] dariusc93 opened #281 "Question.."
Though this is not much of an issue but a question. I been looking at iron for awhile and was wondering how stable is iron to be used in production? Is it able to compete against something in another language like vibe.d when it comes to performance? I know rust itself is still in development so performance can change but are there any benchmarks to compare the performance between iron and vibe.d

[2015-01-28 06:58] reem commented on #281
Iron and rust are still pretty unstable, so I wouldn't recommend using them in production just yet. There are also a bunch of polish issues with Iron and associated middleware, though I am rapidly addressing them and making it a core focus for the next few weeks.

Performance is definitely a goal of Iron, but it has to be framed inside the blocking-IO world that it lives in, which means it won't b

[2015-01-29 18:28] davidrhyswhite commented on #277
Thought I'd give this a go since I'm fairly new to both Rust and Iron and it's marked as easy. Ignore the first commit, I didn't read the contributing doc first. ;)

[2015-01-29 18:30] reem commented on #277
Awesome! Feel free to make a PR and I'll give you a review of the changes.

[2015-01-29 19:46] reem commented on #277
Fixed!

[2015-01-29 19:46] #277 closed

[2015-01-30 16:53] s-panferov opened #287 "Implement BodyReader plugin"
@reem Hello! You have landed #266 (:+1:) and now we need to introduce some standardized way to deal with `Body` in middlewares and handlers. I say `standardized` because I want to support interoperability between internal and external middlewares.

I propose:

1. Implement `BodyReader` plugin. It must be smart enough to allow to specify max length that it can read.
2. Mention `BodyReader` in doc a

[2015-01-30 16:54] reem commented on #287
Seems like this belongs in a proper iron/body-parser implementation.

[2015-01-30 16:59] s-panferov commented on #287
It can be a middleware, it's not a problem. And I think that it is common enough to be right in the core. If you agreed with me I'll implement this (or I can rewrite the body-parser).

[2015-01-30 17:03] reem commented on #287
Given that body-access is the poster-child for plugins, it seems like it should be one. I'd rather a patch to body-parser for now, and we can maybe move it to core in the future.

[2015-01-31 02:26] reem commented on #281
Since this is just a question, I'm closing.

[2015-01-31 02:26] #281 closed

[2015-02-08 11:43] s-panferov commented on #287
See https://github.com/iron/body-parser/pull/43

[2015-02-12 08:58] nyrf opened #292 "Become slow?"
I run `wrk -t12 -c900 -d10s http://127.0.0.1:3000/`, got
[code]
A half month ago, i got almost 80k reqs/sec.

[2015-02-12 09:58] reem commented on #292
Did you compile with optimizations?

[2015-02-12 10:00] reem commented on #292
I just tested and got 92k locally.

[2015-02-12 10:58] nyrf commented on #292
I have tried on my md101 8g ram and on ubuntu 14.10, got same result.

[2015-02-12 11:01] reem commented on #292
Can I get the exact commands you used to compile iron, run the example, and run the benchmark?

[2015-02-12 11:09] nyrf commented on #292
This is my cargo.toml

[code]

`src/main.rs`

[code]

Then `cargo build`, `cargo run`

[2015-02-12 11:36] reem commented on #292
You are building without optimizations. Use `cargo build --release`, `cargo run --release`.

[2015-02-12 11:41] nyrf commented on #292
Oh, i see, thank you. the new ruslt.

[code]

[2015-02-12 21:37] reem commented on #292
Are you running on a VM? VMs are usually slower.

[2015-02-13 02:58] nyrf commented on #292
No, i use my md101 , 8Gram  and samsung SSD 840PRO 256G.

[2015-02-13 03:47] reem commented on #292
I'm not sure what to tell you, a lot of things can influence these numbers. For instance, when my computer's battery is low I get like 500 req/s.

Unfortunately, I can't really fix this right now without being able to at least reproduce locally, sorry.

The best thing you could do would be to maybe profile the executable while it is being benchmarked a few times and include that, along with comman

[2015-02-13 03:47] #292 closed

[2015-02-16 10:39] #287 closed

[2015-02-18 13:40] s-panferov opened #295 "Improve interoperability by moving Request and Response to another crate"
Hello @reem. I have found myself in creating my own Request and Response traits in Rustless because I want to be able to work with other (potential) backend libraries.

What if we move these items into a separate crate and unify this layer in nickel, iron, restful, rustless and any future libraries?

cc @cburgdorf, @Ryman, @Ogeon

[2015-02-18 13:52] Ogeon commented on #295
I'm interested. It's obvious that we have slightly different approaches to the problem, but our libraries exposes mostly similar request handling. Having a common API would make it easier to use the same additions on top of different base libraries. It fits well with the Rustful philosophy :)

The big question is "How?"

[2015-02-18 13:56] s-panferov commented on #295
I think that we can pass it through an RFC process. Maybe I could write the RFC if you forgive my poor English. But at first I want to hear that all are interested.

[2015-02-18 14:22] sunng87 commented on #295
In #261, I have a proposal that make iron decoupled with hyper or any other backend. I think it shares the same idea of this one. Iron can be a standard request/response and middleware framework. The will be lower level adapters for hyper, and higher level frameworks for url routing, session/cookies, etc.

[2015-02-18 14:31] Ogeon commented on #295
The problem I can see right now is that we will have to unify the way we handle data. It may even require an adapter layer. Rustful, for example, uses Hyper as a base and extends the request with more context and the response with a filtering plugin stack. I would rather not drop them from the library and I'm sure each library has its own complicating factor. Nickel, for example, is still using it

[2015-02-18 14:33] s-panferov commented on #295
@sunng87

I don't think that we must and *need* to peek a standard framework, because all people has their own opinion. Time will put everything in its place. But we are able to pick some small standard parts now. Let's begin with that.

[2015-02-18 15:58] sunng87 commented on #295
@s-panferov Yes, there's no such "standard" thing. The idea is to make iron decoupled from underlying network layer. That is, do not use anything "hyper" specific in the request and response struct.

Currently there's no need to persuade other framework like nickle to adopt. Just to make iron API more beautiful.

[2015-02-18 16:03] sunng87 commented on #295
https://github.com/conduit-rust/conduit

Conduit is aimed to be such a library, not sure if iron has plan to adopt.

[2015-02-18 19:13] Ryman commented on #295
Very interested in this, it's crossed my mind a few times, and I agree that 'how' is the question.

Rusts ownership model makes this tricky as @Ogeon has pointed out, where `iron` creates Responses in the handler while others pass them down into the handlers. At least we could start with a common base of traits based on hypers request and its `Streaming` and `Fresh` responses?

@Ogeon re: rust-htt

[2015-02-18 20:35] Ogeon commented on #295
I almost forgot about Conduit for a moment. It can surely function as a minimal common set of features. I mean, it's all just HTTP in the end. The trick is to identify this set and make sure the interface is flexible enough to avoid turning everything into Hyper+overhead.

[2015-02-21 02:07] fuchsnj opened #297 "fails to compile with rust nightly"
[code]

rust version
[code]

[2015-03-08 00:15] reem commented on #297
Done.

[2015-03-08 00:15] #297 closed

[2015-03-08 00:16] reem commented on #295
I agree we want this long term, but I honestly don't think we really know enough about what Rust web development will look like for us to make these decisions right now.

[2015-03-09 19:46] dbalchev opened #305 "Outdated documentation"
The documentation at http://ironframework.io is a bit outdated.
E.g. `iron::Iron` has method `listen` and not methods `http` or `https`. http://ironframework.io/doc/iron/struct.Iron.html

[2015-03-09 20:32] reem commented on #305
This is a known issue, but @zzmp is on it!

[2015-03-09 20:43] reem commented on #295
For what it's worth I own the `http` name on crates.io - that seems to me to be a fine place to aggregate standards for web development in rust.

[2015-03-10 19:57] dbalchev commented on #305
That was fast feedback.
Thanks!

[2015-03-11 08:55] reem commented on #305
Boom, updated!

[2015-03-11 08:55] #305 closed

[2015-03-13 15:29] mahkoh opened #308 "Add hyper docs to to ironframework.io"
All references to hyper docs currently 404. Might also be a rustdoc bug but it looks like the links would work if the hyper docs were available.

[2015-03-14 02:13] golddranks opened #309 "Better Documentation for "relative" Urls"
In iron/src/request/url.rs, it says about Url::parse(input: &str) that "The input must be a valid URL in a relative scheme for this to succeed."

However, valid relative URLs cause a panic. The upstream repo, rust-url docstring says: "In particular, relative URL references are parse errors since no base URL is provided."

So there's a mismatch there. Is the documentation here wrong, or has the ups

[2015-03-14 04:02] reem commented on #308
Hmm, good call. @zzmp can you check this out? If I recall correctly it should be really easy to add another crate to the docs.

[2015-03-14 04:39] reem commented on #309
I think the documentation here is not wrong, just highly technical and possibly in-need of rephrasing.

A `valid URL in a relative scheme` is not the same as a `valid relative URL`; in this case "scheme" refers to the protocol, e.g. http, https, not the format of the url itself.

[2015-03-14 04:52] reem opened #311 "More Examples"
I am always on the lookout for more helpful examples of any of Iron's features.

[2015-03-14 04:54] reem commented on #143
This issue is pointless and outdated, obviously we want things to compile, but there is no need to track everything here.

[2015-03-14 04:54] #143 closed

[2015-03-14 18:05] golddranks commented on #309
Ah, I see. So does `a relative scheme` mean a URL without specifying the scheme, then? Like "//google.com"? In that case the docstring could indeed use some rephrasing to be more clear.

[2015-03-16 17:43] brycefisher commented on #143
:+1:

[2015-03-19 02:39] ccostes opened #313 "Build Error: wrong number of lifetime parameters"
Trying to build the current version and getting this error in request/mod.rs  Any ideas?

[code]

[2015-03-19 04:35] reem commented on #313
I'm working on a fix for this right now. #314 is the start but I have to fix mocking tools too.

[2015-03-19 06:13] #313 closed

[2015-03-19 13:12] ccostes commented on #313
Awesome, thanks for fixing this so quickly! This project looks pretty cool and I'm excited to check it out.

[2015-03-21 15:49] dugusword opened #315 "Build error as of rustc 1.0.0 nightly 3/20"
/Users//.cargo/registry/src/github.com-1ecc6299db9ec823/iron-0.1.12/src/iron.rs:105:28: 105:32 error: type `std::net::addr::SocketAddr` does not implement any method in scope named `ip`
/Users//.cargo/registry/src/github.com-1ecc6299db9ec823/iron-0.1.12/src/iron.rs:105         let ip = sock_addr.ip();

[2015-03-21 20:47] #315 closed

[2015-03-22 23:34] lambdajp commented on #311
I would like to help out by creating a getting started guide as I feel this is great way to get developers up and ready quickly. The guide will provide examples and how to use the modules like urlencoded, router, etc.

[2015-03-23 01:10] reem commented on #311
@lambdajp Awesome! I'm really happy to get other people working on this too.

I'd caution against writing anything very long-form right now, since while things are relatively stable there will still be breaking changes, leading to (possibly) lots of outdated documentation. Believe me, I've had to delete hundreds of lines of documentation already.

Examples are usually much easier to update and get

[2015-03-23 20:24] reem opened #317 "[Meta] Build on only stable features"
Including dependencies and bundled extensions.

cc @aturon

Dependencies where an issue did not need to opened since they are already stable:

- `matches`
- `num_cpus`
- `lazy_static`

[2015-03-23 20:25] reem opened #318 "Build on only stable rust"
Needed unstable APIs:

- [x] `std::error::Error`
- [x] `std::fs::File::path`

cc #317 (in contrast this bug is just for this repo)

[2015-03-23 23:19] lambdaburrito commented on #311
Don't worry, I believe you :) I've started to write the beginning of the guide here: https://github.com/lambdaburrito/iron/wiki/Getting-started

[2015-03-24 03:20] reem opened #319 "Iron::{http, https} docs should explicitly mention the guard"
The exact blocking behavior is not well documented.

[2015-03-24 04:04] reem commented on #311
@lambdaburrito Cool. I'd ensure that you recommend that users read the rust book/intro first, especially since Iron uses a variety of more complex type system features.

[2015-03-26 23:07] aturon commented on #318
Note that `File::path` is not likely to be stabilized soon -- it will probably be deprecated instead. Its primary use was for providing more informative error messages internally, but as part of the reform we've been stripping out these extra layers of functionality (and making the core IO types be thin wrappers around descriptors).

[2015-03-26 23:13] reem commented on #318
Hmm, that's inconvenient since it means we won't be able to automatically set the content type when a File is passed to set the body of a response. That said, it's not necessarily blocking. Could we grow an API based on `readlink` in the future, or is that unlikely to happen?

[2015-03-27 01:51] jarod opened #321 "iron should have specified version of dependencies in Cargo.toml"
With the latest release 0.1.13, it built on travis( https://travis-ci.org/iron/iron/builds/55321591). But I can't reproduce the build result with rust nightly 2015-03-23 because conduit-mime-types updated to 0.7.3. but the travis build is with conduit-mime-types 0.7.2

[code]

[2015-03-28 02:36] dugusword opened #322 "iron/iron and iron/persistent stopped building with the current nightly"

[2015-03-31 20:52] byteslayer7 commented on #322
I also haven't been able to build Iron. I've gotten a number of different errors the past few days but they all relate to the "typemap" package. The error I'm currently getting is this:

    lib.rs:67:14: 67:23 error: expected ident, found `"typemap"`

[2015-03-31 23:51] gsingh93 opened #327 "Bad request when no host is specified"
I'm dealing with an HTTP client that is sending a request with no `Host` header and so I'm getting [this error](https://github.com/iron/iron/blob/fd5ccecc4ed7d5a79bcf8654848f51ce188756a8/src/request/mod.rs#L88):
[code]
The comment in the code says it's only required for HTTP/1.1, but this particular client is using HTTP/1.0. Would it be possible to do a version check here and only fail here if the

[2015-04-01 02:03] reem commented on #327
I think this current case is mostly for implementation concerns - due to the nature of `rust-url` we need a full url including host to create the request's url instance. I'll see what I can do about fixing this though, since there's no need to be unnecessarily mean to HTTP/1.0 :).

[2015-04-03 00:58] #318 closed

[2015-04-03 00:58] reem commented on #322
Fixed in master

[2015-04-03 00:58] #322 closed

[2015-04-03 00:59] reem commented on #321
The build is fixed on master. I'm closing because I don't want to do this until there is some ecosystem stability because it makes the developer workflow really hard (have to release and do menial updates even more often).

[2015-04-03 00:59] #321 closed

[2015-04-04 10:06] lambdaburrito opened #330 "Sync master to Cargo.io"
I noticed that the latest master, that removes all unstable features, is not in sync with Cargo.io because it won't allow me to compile 'iron', 'router' or others for rustc beta when specified as:

    [dependencies]
    iron = "*"
    router = "*"

To get around this, I tried to point to the github url. However, router depends on iron using '"*"'

[2015-04-04 11:29] fuchsnj commented on #330
@lambdaburrito As a temporary fix, you can download the repository and use a .cargo config file to override the dependency to use the one you downloaded. See the `paths` config here: http://doc.crates.io/config.html

[2015-04-04 16:29] reem commented on #330
Fixed.

[2015-04-05 10:26] lambdaburrito commented on #330
This shouldn't be closed as it's not fixed for the beta. I am very concerned that you cannot even see the build issues.

[2015-04-05 13:49] reem commented on #330
@lambdaburrito I'm sorry, you are right, I misread the original post and thought this was only about iron proper not also router. I'll reopen and see what I can do about fixing this today.

[2015-04-07 07:23] michaelsproul commented on #309
Sorry, this was me! This documentation is referring to the definition in the URL spec:

https://url.spec.whatwg.org/#relative-scheme

I think that adding a comment about how a relative scheme is distinct from a relative URL, and linking to the spec would be one solution.

[2015-04-09 18:15] gsquire commented on #319
Are you referring to the join guard returned in a `thread::scoped` function? It says that it ["blocks until it terminates"](https://doc.rust-lang.org/std/thread/#scoped-threads) and looking at the Hyper source I see the listener [creates](https://github.com/hyperium/hyper/blob/4c5a42bcdab18f59d0d3ee3512d1e33c4dada2f2/src/server/mod.rs#L107) a scoped thread when making the connection pool.

If this

[2015-04-09 18:16] reem commented on #319
Yup.

[2015-04-13 15:43] lambdaburrito opened #333 "arithmetic operation overflowed"
There's a problem upstream for mac users that stops iron apps from starting up.

I've created an issue out of courtesy in case your users stumble across this.

https://github.com/seanmonstar/num_cpus/issues/2

[2015-04-13 19:06] reem commented on #333
Fixed in the latest version of num_cpus.

[2015-04-13 19:06] #333 closed

[2015-04-13 19:07] reem commented on #330
Actually fixed!

[2015-04-13 19:07] #330 closed

[2015-04-13 19:07] reem commented on #317
Done!

[2015-04-13 19:07] #317 closed

[2015-04-14 02:52] reem commented on #319
@gsquire thanks for fixing :)

[2015-04-14 02:52] #319 closed

[2015-04-18 13:43] jlouis opened #335 "Does Iron handle many connections correctly? (wrk2 benchmarking)"
Hi,

(cc @nanoant, as he might be interested in this as well)

I'm running the following example as part of a benchmark:

[code]

On the following version of rust:

[code]

The `Cargo.lock` file is down at the bottom of this, which I hope is enough for reproduction.

Running wrk on the data obtains a good result (10k connections, 15 seconds, as fast as possible):

[code]

But if I take Gil Tene's

[2015-04-18 22:07] reem commented on #335
Thank you for all this analysis and information! This is almost definitely caused by https://github.com/hyperium/hyper/issues/368.

[2015-04-19 20:40] jlouis commented on #335
And thank you for the pointer toward the problem. I agree this might be it. My current plan is probably to suspend my work with Rust/Iron for the while and focus on other frameworks, as I'm looking at latency distributions of different webservers/framework.

In any case, the current situation is not fair to Iron in any way, so I'd rather postpone the current and realign the spotlight later. I'll b

[2015-04-19 20:42] reem commented on #335
@jlouis you might be interested in some preliminary work being done here: https://github.com/reem/transfer, I'm working on a low-latency server built on mio, an event loop over epoll.

I'm also working on fixing the hyper issue with a queueing abstraction.

[2015-04-28 19:23] waqqas-abdulkareem opened #337 "URL fragment not being read."
I'm developing a console-based Facebook application using Rust.

Once the user signs in from the browser, Facebook redirects to a given URL and passes the access token as a URL fragment:

`http://localhost:7000/?#access_token=CAAF.....ZD&expires_in=3943`

When retrieving this fragment from the URL using iron's url implementation, I get an empty string.

[code]

Parsing the url into `servo/rest-url

[2015-04-28 21:26] huonw opened #338 "Docs don't show `Modifier` trait anywhere"
E.g. http://ironframework.io/doc/iron/response/struct.Response.html has `fn with<M: Modifier<Response>>(m: M) -> Response`, but the `Modifier` trait isn't a link, and the search doesn't find it either. Being able to see the trait is useful to see what (in this case) `with` can be used for.

[2015-04-29 02:23] reem commented on #338
@zzmp this is what I was talking about

[2015-05-04 06:43] briancolfer opened #339 "hyper 0.3.16 does not compile"
0.3.15 compiles but 0.3.16 does not
[code]

[2015-05-05 05:30] gsquire commented on #339
It builds now for me on beta. Sometimes it breaks but it will get updated rather quickly.

[2015-05-05 05:42] reem commented on #339
@briancolfer I believe your rust version is out of date, Default was added to the prelude rather recently. I just compiled iron locally on the latest beta and nightly, so closing.

[2015-05-05 05:42] #339 closed

[2015-05-05 21:45] reem opened #340 "Make Modifier implementations show up in the docs"
These are really confusing to figure out otherwise.

[2015-05-07 23:08] reem commented on #337
I looked through the implementation and didn't see anything obvious... @michaelsproul you are probably most familiar with the url implementation - any idea what might be happening here?

[2015-05-07 23:11] reem commented on #263
We now allow streaming the request body, so Iron should now be able to support this use case well.

[2015-05-07 23:11] #263 closed

[2015-05-07 23:12] reem commented on #308
Collapsing into #338

[2015-05-07 23:12] #308 closed

[2015-05-08 01:23] michaelsproul commented on #337
I haven't been able to reproduce this, and according to this test program, Iron and `rust-url` produce the same results:

[code]

Output:

[code]

As you can see, all the data after the `#` gets dumped into the fragment field. This is part of the WHATWG URL spec: https://url.spec.whatwg.org/#query-state

Once the URL parsing state machine enters the fragment state it treats all subsequent characte

[2015-05-08 20:30] moredip opened #343 "contribute a todobackend example implementation using Iron"
Any chance I could persuade you to build a todobackend implementation using Iron? It's a pretty simple process and the end result would provide a nice reference implementation for people new to Iron. You'd also gain a little bit of free marketing by having the implementation listed up on todobackend.com.

I'm happy to help if you have any questions while building out the implementation.

[2015-05-10 13:58] fsommar commented on #343
I started an implementation [here](https://github.com/fsommar/todo-iron) with an in-memory list to maintain all todos. Currently it only supports adding a todo, getting all todos and deleting all todos.

[2015-05-10 15:40] fsommar commented on #343
It's working fully now, but I wouldn't say the code is idiomatic of Iron and Rust because of the lack of error handling.

[2015-05-15 13:06] zzmp commented on #338
I've updated the build scripts to include all dependencies.
Check it out at github.com/iron-bot/build-doc

Unfortunately, it didn't seem like Cargo could handle doccing multiple crates, so I rewrite the search index as it docs.

[2015-05-15 13:06] #338 closed

[2015-05-15 13:07] zzmp commented on #340
See github.com/iron-bot/build-doc

[2015-05-15 13:07] #340 closed

[2015-05-24 07:18] viraptor opened #347 "Easier chain construction"
Sometimes I'd like to use additional middleware only for a specific few links, rather than the whole app. For example it's easier to enforce extracting body parameters by wrapping a handler rather than repeating the boilerplate code. But current code requires something like:

[code]

How about including a simplified chain constructor like:

[code]

[2015-06-08 21:57] kempchee opened #348 "iron::mime::Mime downcases boundary part of Content-Type header"
When calling request.headers.get::iron::headers::ContentType() on a form submission, the returned boundary "----WebKitFormBoundary4wKYfysiU49PHeA9"  is all lower case.  Is there a reason for this?

[2015-06-17 13:23] michaelsproul commented on #337
Triage... I think we can close this? @reem @waqqas-abdulkareem

[2015-06-17 19:56] reem commented on #337
Yup. Closing due to inactivity. Anyone feel free to comment if they can reproduce.

[2015-06-17 19:56] #337 closed

[2015-06-25 20:17] fenhl opened #350 "Update for hyper's refactoring"
Iron currently fails to compile. From what I can find, the reason seems to be hyperium/hyper#557, where some of hyper's code was refactored.

[2015-06-25 20:23] fenhl commented on #347
This is harder to implement than it looks, because `BeforeMiddleware` and `AfterMiddleware` are traits.

[2015-06-25 20:52] reem commented on #347
This is also what `AroundMiddleware` is basically for.

[2015-06-25 20:52] reem commented on #347
Though I do agree that sugar for constructing chains is definitely desirable.

[2015-06-25 20:53] reem commented on #350
Pinned to hyper 0.5 for now. Will update to 0.6 in the near future, but it will require some thought to try and avoid breaking iron's API.

[2015-07-04 14:40] singpolyma opened #353 "Chain#link should return the chain"
This would allow for nice chaining syntax:

    Chain::new(handler).link(thing1).link(thing2)

[2015-07-04 16:55] singpolyma opened #354 "Per-thread resources"
Is there a good way to create resources that cannot be shared between threads on a per-thread instead of a per-request basis with iron?

[2015-07-04 22:07] reem commented on #354
Each request is handled in a different thread, so the request extensions can act as a form of thread-local storage.

[2015-07-04 22:08] singpolyma commented on #354
Hmm, if it's one-thread-per-request then I guess this request doesn't make much sense :)  Should have looked closer before assuming there was a pool or something.

[2015-07-04 22:08] #354 closed

[2015-07-04 22:09] reem commented on #354
@singpolyma there is a pool, but a request gets exclusive access to the thread it's being handled in until it is finished, then another request can be handled on the same thread.

[2015-07-06 15:56] singpolyma commented on #354
@reem oh, hmm, so the idea is if I put a mutable reference in a plugin, I could maybe share that way?

[2015-07-10 15:20] diogovk commented on #309
The url https://url.spec.whatwg.org/#relative-scheme seems to be no longer working.
Was relative-scheme renamed to scheme in the specification?
https://url.spec.whatwg.org/#concept-url-scheme
What's the diference between scheme and relative-scheme?

[2015-07-11 16:50] muja opened #357 "Graceful shutdown of server"
For purposes outside of webdev, it is sometimes useful to listen for a specific request and shutdown the server afterwards (while still allowing to respond). This current isn't possible with iron, and hopefully isn't out of the project's scope. I would love to see it implemented! Code snippet of how it might look:

[code]

[2015-07-11 23:06] reem commented on #357
@muja I agree completely, this is functionality we are looking to develop in hyper which we could then expose in iron.

[2015-07-14 14:16] muja commented on #357
Thanks for the response! So hyper doesn't support this either, good to know.

Is this feature already envisioned / when should we expect it?

[2015-07-14 19:16] reem commented on #357
@muja currently the std library doesn't provide a way to close a `TcpListener`. As soon as it does, we will add support in hyper and then I can add support in iron.

[2015-07-15 00:09] muja commented on #357
What about `drop(listener)`?

From the [docs](https://doc.rust-lang.org/std/net/struct.TcpListener.html):
[code]

[2015-07-15 04:29] teh1 opened #359 "Add support for WebSockets"
It's my understanding that WebSockets are initiated by sending the correct request headers to the server at which time the server responds with headers that indicate that the WebSocket can be opened and the connection remains open. This so that HTTP port 80 can also be used for WebSockets.

Seems to me that support for this should be added to Iron. What say ye?

[2015-07-17 06:49] #309 closed

[2015-07-19 00:30] #279 closed

[2015-07-20 19:43] Stebalien commented on #359
There's already a hyper-based websocket implementation (https://github.com/cyderize/rust-websocket) so one approach would be to merge this code into iron. Unfortunately, as is, it needs to run on a separate port using a separate hyper instance.

[2015-07-20 20:23] Stebalien commented on #359
Related: https://github.com/hyperium/hyper/issues/521

[2015-07-21 14:59] SamuelMarks opened #360 "Combine router and content-type examples?"
How do I combine [router](https://github.com/iron/router/blob/master/examples/simple.rs) and [content type](https://github.com/iron/iron/blob/master/examples/content_type.rs)?

Attempts (commented out):
[code]

[2015-07-21 22:11] leodasvacas commented on #360
I think you have a closure problem. Why not declare `content_type` inside the handler?

[2015-07-22 02:31] SamuelMarks commented on #360
Thanks, that did the trick.

I thought that closures exposed their context?

[2015-07-22 02:31] #360 closed

[2015-07-22 03:19] leodasvacas commented on #360
It's an ownership issue, directly related to the difference between the three types of closures: `FnOnce` (only callable once), `FnMut` (mutates the context) and `Fn` (only reads the context). A handler needs to be `Fn`, which gives stronger concurrency guarantees. `move` closures will take ownership of the context, so it's easy for it to become `FnOnce` or `FnMut`. [Huon has a great in-depth post

[2015-07-27 04:23] evadnoob opened #364 "request error = TooLarge on very small request with normal header sizes."
Created a reproducible test case:

https://github.com/evadnoob/iron-issue-request-too-large

run
[code]

Then run:

[code]

Notice in the original server's console:

[code]

[2015-07-27 05:14] SkylerLipthay commented on #364
Thanks for the report! If I am not mistaken, Hyper raises this if the request body is not entirely read by the end of handling. Is there a way to just close the stream, ignoring the rest of a body?

[2015-07-27 08:37] ilkosta opened #365 "how to get a hyper request from iron?"
Hi, I'm new to rust and I would like to use some hyper lib inside iron that accept `hyper::server::Request` or `hyper::header::Headers`, for example [formdata](http://github.com/mikedilger/formdata).

There are some examples I can follow?

[2015-07-27 21:21] SkylerLipthay commented on #365
Hi! We actually have a new plugin that encapsulates `formdata` called [`iron/params`](https://github.com/iron/params); you might be interested in using that. Regardless, you can check out how the `hyper::header::Headers` and `formdata::Request` types were integrated [here](https://github.com/iron/params/blob/master/src/lib.rs#L525) and [here](https://github.com/iron/params/blob/master/src/lib.rs#L

[2015-07-28 10:16] ilkosta commented on #365
really thanks! great work

[2015-07-28 10:16] #365 closed

[2015-07-28 15:52] evadnoob commented on #364
Thanks for the suggestion, turns out on a post I wasn't getting the body and that error is logged.  The error stopped when I added:
[code]

Thanks!

[2015-07-28 15:52] #364 closed

[2015-08-06 21:08] bfrog opened #367 "Post Response Hooks"
It would be extremely useful for myself to be able to perform actions after a response has been written to a client in some form. In go, java, and node the typical method is by just taking both the req/res as parameters, writting the response out, then doing whatever you need to.

I suppose in the context of Iron having some sort of hook like the Before/After style middleware could be useful.

An

[2015-08-07 11:06] ilkosta opened #368 "improve error example"
Hi,
Do you think that integrating the `error.rs` and the `around.rs` examples are too confusing?

I think to this because the `error.rs` don't show the [StringError](https://github.com/iron/iron/blob/5d5f9851c3265ecc0bccd0e826230b6643560022/examples/error.rs#L40) handled.

Thanks

[2015-08-07 23:02] reem commented on #368
Perhaps there's room for another example which integrates these concepts? More examples is better, IMO.

[2015-08-13 03:41] SamuelMarks commented on #359
FYI: That related issue has now been closed.

Also related: https://github.com/cyderize/rust-websocket/blob/master/examples/hyper.rs

[2015-08-17 09:03] Yamakaky opened #372 "HttpResult -> Result"
Did you consider renaming HttpResult to Result ? See http://doc.rust-lang.org/std/io/type.Result.html.

[2015-08-17 09:17] lucab commented on #295
Any progress on this? I'm approaching the same issue from the other end (fastcgi / uwsgi / etc connectors) and I'm not sure which traits should be provided to applications (for headers/env/body) and what should expect back.

This is an open question for [uwsgi-rust](https://github.com/unbit/uwsgi-rust), which is currently abusing strings everywhere.

[2015-08-17 13:59] cmbrandenburg opened #373 "No way to use `addr` field of `Iron` struct?"
How are we supposed to use the `addr` field of the `Iron` struct in a meaningful way? The field is populated with the server's bound-to address _after_ listening begins, but listening begins by calling the `http`, `https`, or `listen_with` functions—all of which consume the `Iron` instance.

Am I missing something?

[2015-08-17 17:40] reem commented on #372
`HttpResult` is actually a reexport of `hyper::Result`, I've made it a longer name to make it clear it is not the Result type used ubiquitously in Iron, that is `IronResult`. `IronResult` is not called `Result` since it is in the iron `prelude` module, and putting a `Result` symbol in there would not work well.

I use the renaming-Result idiom in many crates, but it doesn't fit well in this case.

[2015-08-17 17:40] #372 closed

[2015-08-17 17:42] reem commented on #373
It is used to populate the `local_addr` field of `Request` in `Request::from_http`, and can be "accessed" through that. It is meant to be an implementation detail of the `Iron` type.

[2015-08-17 17:42] #373 closed

[2015-08-17 17:44] reem commented on #368
cc #311

[2015-08-17 18:04] Yamakaky commented on #372
Ok

[2015-08-17 19:48] Ogeon commented on #295
No, not as far as I know. You could possibly reuse pieces of some general HTTP library, in your case, but it would probably come with a lot more than what you need.

[2015-08-20 02:30] moenad opened #376 "For some reason, Cargo returns "thread '<main>' has overflowed its stack""
I tried multiple dependencies but each time I add Iron, I get the error mentioned in the title.

I'm on a mac, and I'm using Rustc 1.2.0 and cargo 0.4.0.

I'm new to Rust in general, and I was looking forward to try Iron. No luck so far.

[2015-08-20 05:14] reem commented on #376
Hmm, can you post some context, like your Cargo.toml or other code? I am having trouble reproducing this locally.

[2015-08-20 08:06] moenad commented on #376
If I create a new project with `cargo new` and I simply edit the cargo.toml file adding to it

[code]

or

[code]

 and I try to  `generate-lockfile`, `build`.... I get the following:

Rust is installed using brew.

[2015-08-30 00:02] reem commented on #350
Fixed!

[2015-08-30 00:02] #350 closed

[2015-08-30 00:03] reem commented on #137
This has been partly addressed by `iron/params`.

[2015-08-30 00:05] reem commented on #268
This is now done via the new body abstraction, it is now possible to write to the body using a normal `io::Write` interface.

[2015-08-30 00:05] #268 closed

[2015-09-03 17:49] Mange commented on #376
You need to reinstall with the latest `HEAD`.

[code]

This worked for me today, 2015-09-03. `cargo` was patched 4 days ago, but Homebrew does not have the new version of `cargo` in the formula. I trust this will be solved in time.

[2015-09-03 18:10] Mange commented on #376
Actually, that might also be a bad idea. I can't compile the examples because of strange compiler errors. Maybe `master` is broken, maybe it's not compatible with latest `iron` version, maybe both.

So I either install a broken version of Rust (or rather Cargo), or I install a version of Rust that cannot compile Iron `master` or Iron samples with latest cargo release.

[2015-09-04 04:28] reem commented on #376
Sorry, I can't reproduce this locally with either the latest stable cargo and rustc or the latest nightly, could you try upgrading and seeing if that solves your problem?.

[2015-09-11 05:22] ScottHuangZL opened #384 "Could you compare Iron and Nickel?"
Could you compare Iron and Nickel?
What is pro and con?
It will help the new comer to select one of them to suit to their business situation. Thanks.

[2015-09-11 05:54] sunng87 commented on #384
IMO, Iron has a beautiful architecture. In Iron, the whole application is made up with a few middlewares. That's pretty much like [Clojure's Ring](https://github.com/ring-clojure/ring). In Iron, everything is middleware, you can choose your own composition of middlewares.

For example,

* the route middleware dispatches requests to different handlers
* the body reader middleware parses http reques

[2015-09-11 08:33] ScottHuangZL commented on #384
Thanks. Welcome more comments coming.

[2015-09-20 16:41] dariusc93 commented on #384
what @sunng87 stated pretty much sums it up. I've used both nickel and iron but honestly I do find iron being more "pluggable" in a sense to where you can bring or create your own middleware with ease. I been debating on which to use but havent came to a direct conclusion.

[2015-09-26 07:08] Undeterminant opened #385 "Accept header doesn't accept wildcards"
Right now, a `*/*` rule in an `Accept` header doesn't ever show up in Iron. There's a huge difference between `Accept: text/plain, */*` and `Accept: text/plain`, but Iron interprets the former as the latter.

I saw this in the documentation but didn't see an open issue for fixing this. May be willing to work on it myself if I can find the time, unless there's a particular reason why this behaviour

[2015-09-26 17:17] Undeterminant commented on #385
Oh, I see, this is a `mime` issue. Closing and tracking there.

[2015-09-26 17:17] #385 closed

[2015-09-30 14:22] 4xrsJCr9 opened #386 "Allow the user to provide a bound TcpListener to the server"
This would support the scenario in which a process (running as root) binds a privileged port and then `setuid's` to an unprivileged user.

Current usage leaves a small window (theoretically, at least) between starting the server and calling `setuid` in which requests could be processed as root.

[2015-10-03 19:47] kulbida opened #388 "Passing username and password in the URL does not work."
Details:
[code]
getting:
[code]
I noticed you have test for that, but none of the tests actually test *presence* of username nor password.

[2015-10-05 08:20] zr40 commented on #388
Usernames and passwords are sent as a header, which means they don't appear in the request URL.

[2015-10-09 07:54] RenaudParis opened #391 "JSON bodyparser does not seem to work"
Hi there,

I had issues with JSON bodyparser.

This request (which I found in a tutorial):

[code]

Gives me that error:

[code]

Whereas using serde_json:

[code]

Here is the sample code:

[code]

Did I do something wrong?

Best regards,

[2015-10-09 17:01] bfrog commented on #367
Thinking about this more, I almost wonder if maybe a closure is the nicest way of dealing with this, that way you can pull state in from the current fn.

[2015-10-09 17:19] leodasvacas commented on #391
I don't have experience with this, but you might want to try out the [parser](https://github.com/iron/params) middleware, which also parses json.

[2015-10-09 17:20] RenaudParis commented on #391
Yes thank you @leodasvacas that's also what @seanmonstar advised me to try too, I'll definitely have a look! :)

[2015-10-09 17:27] leodasvacas commented on #367
Maybe it would be best to do that work in separate thread?

[2015-10-09 22:44] untitaker opened #393 "Server should not return a "success" response if thread panics"
Currently if I panic within a request handler, the response is an empty 200 OK.

That shouldn't be the case, it's even dangerous with HTTP methods that have side-effects (such as PUT/POST), because e.g.:

* A file sync app may upload a new document, the server panics but returns a 200-OK-response.
* The client later synchronizes the "deletion" of the document back to the client
* User data is lost

[2015-10-14 22:59] hellpain opened #396 "greate performance degradation"
I decided to repeat wrk test for helloworld from documentation on my computer.
I had rust 1.2 and such result:

Running 10s test @ http://127.0.0.1:3000/
  12 threads and 900 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency   170.13us  113.36us   6.43ms   92.11%
    Req/Sec    18.21k     2.24k   22.49k    73.27%
  182872 requests in 10.08s, 19.88MB read
  Socket errors:

[2015-10-14 23:09] reem commented on #396
@hellpain can you include the full series of commands you used to get that result (preferably from git clone onwards) so I can try to reproduce it locally?

[2015-10-15 09:08] hellpain commented on #396
cargo new hello_world --bin
edit main.rs as here https://github.com/iron/iron/blob/master/examples/hello.rs
add to Cargo.toml

version = "*"

cargo clean
cargo build --release
./target/release/hello_world

Then in second terminal I start wrk:
wrk -t12 -c900 -d10s http://127.0.0.1:3000/

I think you will be able to reproduce this, if you delete Cargo.lock and let cargo download latest versions of p

[2015-10-18 21:46] #393 closed

[2015-10-18 21:47] untitaker opened #398 "Use catch_panic for request handlers"
cont. https://github.com/iron/iron/issues/393

[2015-10-18 21:48] #388 closed

[2015-10-18 21:48] untitaker commented on #388
what @zr40 said.

[2015-10-18 21:50] untitaker commented on #376
is this still an issue?

[2015-10-18 21:54] untitaker commented on #125
I think this can be closed since handlebars-iron seems to work fairly well.

[2015-10-18 21:54] #125 closed

[2015-10-18 22:42] meowy commented on #396
Can replicate according to @hellpain's instructions with `rustc 1.3.0 (9a92aaf19 2015-09-15)`:

    Running 10s test @ http://[::1]:3000/
      12 threads and 900 connections
      Thread Stats   Avg      Stdev     Max   +/- Stdev
        Latency    11.56ms   38.23ms 203.58ms   96.15%
        Req/Sec    61.75     96.61   368.00     82.81%
      909 requests in 10.10s, 101.20KB read
      Socket er

[2015-10-18 22:46] meowy commented on #396
Unsurprisingly, it doesn't seem to matter whether the Iron server is bound to IPv4 or IPv6.

[2015-10-18 22:57] meowy commented on #396
Issue seems to be upstream in [hyper](https://github.com/hyperium/hyper).

[2015-10-18 23:11] reem commented on #396
I can reproduce as well, though my perf is more like 8k req/sec. I think this is likely due to hyper turning off keep-alive by default, which would substantially degrade performance in a benchmark like wrk.

Iron could turn keep-alive back on by default to solve this problem, improving perf in benchmarks but bringing back the demons of https://github.com/hyperium/hyper/issues/368.

[2015-10-18 23:29] meowy commented on #396
Actually, I can't replicate this in pure Hyper with `rustc 1.3.0 (9a92aaf19 2015-09-15)` and hyper 0.6.15 - the version latest Iron depends on - using the [hello world server in the README](https://github.com/hyperium/hyper#hello-world-server).

[2015-10-19 01:55] reem commented on #386
This would definitely be useful. I've started work towards solving this in the above linked PR to hyper.

[2015-10-19 08:38] hellpain commented on #396
@meowy On your hello-world I have 19k RPS instead of 19 on mine=)

[2015-10-19 15:30] untitaker commented on #347
Sorry, closed wrong issue.

[2015-10-19 15:33] untitaker commented on #271
I think we rather need something like greenkeeper for Rust.

[2015-10-19 21:36] reem commented on #271
@untitaker rust-ci is similar to greenkeeper, it triggers a nightly rebuild on travis, so you know every day if something has caused your build to fail.

[2015-10-20 03:05] TyOverby opened #399 "Iron tries to link to OpenSSL even with default-features=false"
# Error

[code]

# Cargo.toml

[code]

[2015-10-21 20:40] reem commented on #399
@TyOverby this is probably because router also depends on iron and likely doesn't set default-features = false in its own Cargo.toml.

Unrelated, but note that iron re-exports typemap as iron::typemap, so you shouldn't need to depend on it directly.

[2015-10-21 20:41] reem commented on #367
This is now sort of possible by doing the work in the WriteBody impl used as the Response body, which typically runs after the Handler has returned.

[2015-10-21 20:52] TyOverby commented on #399
So do I need a `default-features = false` for router too?

[2015-10-21 21:00] reem commented on #399
@TyOverby router should be updated to set default-features = false for its dependency on iron.

[2015-10-24 15:50] badboy commented on #396
I have the same degradation with 1.3 and nightly: only ~90 requests/sec using the iron hello example.

Problematic:
[code]

[2015-10-27 20:40] untitaker commented on #376
Closing because this is neither reproducible nor an active thread.

[2015-10-27 20:40] #376 closed

[2015-10-27 22:58] AndrewBrinker commented on #353
Presumably, if `Chain.link()` is being updated, we should also update `link_before()`, `link_after()`, and `around()`, yes?

(As an aside, should `around()` be renamed to `link_around()` for consistency's sake?)

[2015-10-27 23:00] reem commented on #353
@AndrewBrinker yes and yes.

I am in favor of this change.

[2015-10-27 23:01] AndrewBrinker commented on #353
Cool. I am working on it now.

[2015-10-30 18:44] untitaker commented on #398
Might be closed in favor of https://github.com/hyperium/hyper/pull/676

[2015-10-30 18:45] untitaker commented on #398
Actually I don't see a reason why we should ever use catch_panic. The current behavior would work fine in any case.

I think I muttered something about custom error handlers in IRC, but we really shouldn't encourage to control flow with panics.

[2015-10-30 18:45] #398 closed

[2015-11-05 05:37] veegee commented on #396
Same issue. What's going on here?

[2015-11-05 08:28] hellpain commented on #396
@meowy Is there any way to fix keep-alive connections?

[2015-11-05 21:29] dariusc93 commented on #396
Is this even still a problem?

[2015-11-05 22:48] veegee commented on #396
@dariusc93 very much so. When I set up the latest versions of all packages, with rust 1.4, I only get ~10 req/s with wrk.

[2015-11-06 14:21] dariusc93 commented on #396
@veegee does it show that many when you use ab?

[2015-11-07 04:45] veegee commented on #396
@dariusc93 interesting, `ab` gives me the following:

[code]

[2015-11-12 03:36] Parakleta commented on #318
This patch (a533de8) seems a little clumsy, since it leaves the comment on [#L93](https://github.com/iron/iron/blob/a255647264d198016e753019be2dbe1d120a6d7e/src/modifiers.rs#L93) which is no longer correct and didn't duplicate the mime setting behaviour into the `PathBuf` variant on [#L128](https://github.com/iron/iron/blob/a255647264d198016e753019be2dbe1d120a6d7e/src/modifiers.rs#L128).

Is it po

[2015-11-13 11:50] SkylerLipthay commented on #391
@RenaudParis I know this is quite a late response, but I've just now released params 0.0.2, which fixes compatibility with the formdata crate and the error you described.

[2015-11-19 21:44] dbrgn opened #406 "Re-export Hyper::server::Listening"
Is there a re-export for `Hyper::Server::Listening` somewhere (the object returned by `Iron::http`)? Or do I have to add hyper as an explicit dependency, just because I want to be able to stop a server I started?

If not, it would be nice if you could add the re-export :) In my opinion all the API of Iron should be importable from Iron :)

[2015-11-23 17:38] untitaker commented on #150
I've written [mysteryshack](https://github.com/untitaker/mysteryshack), a small server implementing [remoteStorage](http://remotestorage.io/). Rough scope:

* Basic user and session management
* JSON API + very small subset of OAuth
* Administration interface for OAuth tokens

As an intermediate step we could clone http://flask.pocoo.org/community/poweredby/ using a wiki or doc page.

[2015-11-23 21:16] michaelsproul commented on #150
Yeah, I like the idea of linking a few examoles, with a list of features used in each one. My current project is 'festivus' - a Postgres backed time-series database for power and energy data.

https://github.com/michaelsproul/festivus

[2015-11-25 00:15] ShaunGillies opened #407 "Dependency issue with Hyper"
Iron keeps compiling using Hyper v0.6.16, which ultimately results in undefined reference errors on Debian testing machines, as the OS no longer supports SSLv3. Is there an expected update which will allow Iron to use Hyper v0.7.0?

[2015-11-26 00:58] reem commented on #407
Yes, I will attempt to do a release in the coming days bumping the version of hyper used to the 0.7 series, which should resolve this issue.

[2015-11-26 01:12] ShaunGillies commented on #407
Alright, awesome. Thanks!

[2015-11-26 20:20] reem commented on #407
0.2.5 with hyper 0.7 released!

[2015-11-26 20:20] #407 closed

[2015-11-29 16:30] mvdnes opened #409 "Change SSL to opt-in"
Currently the SSL library is opt-out, having to manually specify `default-features=false` in every crate that depends on Iron.

Many of the middleware available does not care about whether SSL is enabled or not. However, many libraries do not opt out of the feature, making compilation without it almost impossible. This is especially an issue on Windows where compiling openssl-sys is not easy.

#35

[2015-11-29 16:32] untitaker commented on #409
Perhaps this is the way to go, yes. @reem?

[2015-12-01 06:09] mcasper opened #410 "ResponseBody not writing out"
@mikeastock and I are trying to use `ResponseBody` to read the body of an `iron::response::Response` in order to test our Handlers (in conjunction with reem/iron-test). However, it seems that `ResponseBody` is not able to write its buffer back out to something that can be read (like an `&[u8]`), making it impossible make assertions about the response body. The following code models the problem:

[

[2015-12-01 06:19] reem commented on #410
Hmm, I think I know what's going on. Try replacing the final lines with:

[code]

I think the impl of io::Write for Vec might not be doing what we want.

[2015-12-01 06:21] mcasper commented on #410
We got bytes!

[code]

[2015-12-01 06:26] reem commented on #410
Oh man, sorry, total red herring. The real problem is just that `ResponseBody` is an `io::Write`, and calling `write` on it is for *adding* data to it, not reading it out.

The appropriate thing to do is something like this:

[code]

[2015-12-01 06:32] mcasper commented on #410
Oh wow, yeah that did the trick!

Sorry about that, and thank you very much :smile:

[2015-12-01 06:32] #410 closed

[2015-12-01 08:29] reem commented on #410
No problem :)

[2015-12-01 17:16] Antti commented on #396
Updated crates, now performance is back to normal (Requests/sec:  80339.57)

Crates updated:
[code]

I suspect it was hyper update, which fixed the regression.

[2015-12-01 18:08] untitaker commented on #396
Shall we close this then?

On 1 December 2015 18:16:07 CET, Andrii Dmytrenko <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2015-12-01 18:22] dariusc93 commented on #396
Is there a specific commit that couldve fixed this?

[2015-12-01 21:14] hellpain commented on #396
Running 10s test @ http://localhost:3000/
  12 threads and 900 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency   180.63us  139.77us  13.53ms   93.58%
    Req/Sec    20.15k     1.67k   22.99k    77.23%
  202211 requests in 10.09s, 21.98MB read
Requests/sec:  20047.55
Transfer/sec:      2.18MB

Speed is even better on 2k RPS then in my first post on the same computer. Tha

[2015-12-01 21:15] sovereignsoftware commented on #396
I wouldn't consider it completely fixed. I'm having two issues with performance still. With `wrk` it performs well now, but with `wrk2` it falters and times out 2/3 of requests. The difference between the two is that `wrk2` tries to force-feed a given throughput level to the server:

    Running 1m test @ http://localhost:3000/
      4 threads and 10000 connections
      Thread calibration: mean l

[2015-12-03 12:18] untitaker commented on #396
I strongly suspect that this has something to do with keepalive-support being reenabled. Are there noticable differences in performance if you don't make any use of keepalive?

[2015-12-03 14:35] dariusc93 commented on #396
Why not put your application behind something like nginx or haproxy? (you can do this in a container as well if you dont want it directly on your system)

[2015-12-07 16:00] rnestler commented on #406
https://github.com/iron/iron/blob/1c37acbf3cacc2f0da91c0123bb4bfd6bf56809b/src/iron.rs#L9
Looks like a public export of `hyper::server::Listening`

[2015-12-15 13:50] Antti commented on #396
@sovereignsoftware didn't we have this problem all the time?

[2015-12-24 00:36] Gyscos opened #414 "Provide a closed connection notification"
Related to hyperium/hyper#707

Golang provides [CloseNotifier](https://golang.org/pkg/net/http/#CloseNotifier) that allows to detect when the client dropped the connection before its completion (useful when doing long-polling or other long computation).

Apparently hyper should provides the same functionality: just as [golang does it](https://golang.org/src/net/http/server.go#L181), I could try to

[2015-12-24 01:46] Gyscos commented on #357
I think he meant once `accept()` is called, it blocks until a connection is made and cannot be cancelled.

[2016-01-02 21:30] Gyscos commented on #414
So reading directly from hyper's `Request.body` (which is what iron::request::Request.body does) doesn't work, because hyper uses a wrapper around the network stream that prevents reading from it (and blocking) when no body is present.

The current workaround is to use hyper's `Request::downcast_ref` to access the `HttpStream`. However I don't see a way to do that from a `iron::request::Body`.

[2016-01-10 15:43] cmr opened #417 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 15:49] leodasvacas commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 15:50] cmr commented on #417
Pinginged @txgo because of the @-mention limit

[2016-01-10 15:51] arathunku commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 16:03] diogovk commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 16:09] SuprDewd commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 16:52] steveklabnik commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 16:56] pdib commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:12] Nercury commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:16] aleksandrpak commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:44] sfackler commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 17:51] msierks commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 18:01] untitaker commented on #417
The only reference @cmr gave me in https://github.com/sunng87/handlebars-iron/issues/27 is [this Quora answer by a Google engineer](https://www.quora.com/Does-the-MIT-license-require-attribution-in-a-binary-only-distribution), which doesn't even confirm what he is trying to prove. Instead the author there says it's "just the right thing to do" to credit the dependencies' author in the UI.

The oth

[2016-01-10 18:11] cmr commented on #417
@untitaker Do you disagree with the terms of the Apache license, or do you disagree that the dual licensing is desirable, or do you disagree with the downsides of the MIT license that I've listed/my interpretation of its terms, or do you think the whole thing is irrelevant, or something else?

[2016-01-10 18:14] gaudecker commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 18:15] panicbit commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 18:15] untitaker commented on #417
I think the whole thing is unproven to be relevant.

That said, I do not care how my (minor) contributions are (re-)licensed.

[2016-01-10 19:37] crackofdusk commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 20:53] reem commented on #417
@untitaker from my position I think the most important reason to transition the license is to allow code from these libraries to be used in the std library or other parts of the rust distribution, which are all dual licensed MIT/Apache-2.0. That said, I do agree that relicensing or not is unlikely to have a strong effect on adoption in the ecosystem.

I'm for it if we can amass all the necessary r

[2016-01-10 21:02] AerialX commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 22:35] AndrewBrinker commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-10 23:36] darayus commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 00:17] mneumann commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 00:51] sunng87 commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 01:40] shama commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 03:27] michaelsproul commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 04:00] ReadmeCritic commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 04:08] gsquire commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-12 12:18] cburgdorf commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-12 15:40] devonoel commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-12 19:00] cyndis commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-12 19:42] theptrk commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

Patrick

[2016-01-13 00:45] zmbush commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-13 19:12] EduardoBautista commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-18 21:36] sbstp commented on #353
I think this should be closed.

[2016-01-28 08:26] 4xrsJCr9 opened #419 "Cannot specify timeouts; Timeouts struct not re-exported"
Cannot specify timeouts since it seems that the ```Timeouts``` struct from ```iron.rs``` has not been re-exported.

[2016-01-29 16:54] wubin1989 opened #420 "failed to run custom build command for `openssl v0.7.5`"
my openssl version is 1.0.2.d-1, not 0.7.5
when will iron support 1.0.2.d-1?

[2016-02-04 06:12] cyplo commented on #177
Hi ! Just found this issue, do you know if there is a good way to do this nowadays ? Thanks !

[2016-02-04 08:06] mathroc commented on #177
there is ongoing work that could solve this here : passcod/cargo-watch#25

[2016-02-06 20:43] fabricedesre commented on #359
Is anyone actively working on that?

[2016-02-11 00:32] cetra3 opened #423 "Creating a Proxy handler"
Hey guys,

This isn't really a bug, more of some advice on how to optimise a proxy handler.  What I mean by a proxy is that a client will request a URL handled by Iron, and then an Iron handler will proxy this request onto a backend service.

At the moment I'm using hyper to act as a HTTP client, converting the URL to the proper form and passing the response from hyper back to the client.  This co

[2016-02-11 04:56] MarkSwanson opened #424 "Please help: SNI plus client cert SN"
I'm having a little trouble reverse engineering iron and hyper to figure out how to:
- do SNI
- get the verified client cert SN (CN) for authentication

Any pointers would be greatly appreciated.

Thanks!

[2016-02-11 16:34] MarkSwanson opened #425 "Iron Request is missing/losing hyper Ssl"
Hello,

My Iron handler must have access to hyper Request.Ssl.
I note that when Iron constructs its own Request struct that it forgets to also grab Ssl.
Is this on purpose (perhaps out of scope for Iron atm)?

(Iron src/request/mod.rs)
    pub fn from_http(req: HttpRequest<'a, 'b>, local_addr: SocketAddr, protocol: &Protocol)
                     -> Result<Request<'a, 'b>, String> {
        let (a

[2016-02-14 01:43] #419 closed

[2016-02-14 23:55] cetra3 commented on #423
Just an update: some of the slowness happens due to DNS lookups in hyper, converting the request to an IP address resolves this.  The `Client::new()` call is probably the culprit, but not sure how to persist a client instance across multiple requests.

[2016-02-21 03:24] shinriyo opened #430 "Is it possible render template?"
Hi there.
I used the iron framework.
I read  `template rendering` in the README.
There are how to render only string.
but, I didn't find how to render "index.html"
[code]

[2016-02-21 03:55] sunng87 commented on #430
Template rendering is done via middleware. Take a look at handlebars-iron and its example:
https://github.com/sunng87/handlebars-iron

[2016-02-21 05:06] shinriyo commented on #430
Hello @sunng87
Thank you for replying. :smiley:
is it official for iron?

I found before, and I tried it but it couldn't understand how to use it.

:sos:

I added `handlebars-iron = "*"` in my Cargo.toml
I I append it.
[code]
I ran `cargo run`.
I said the error.
[code]
So, I tried to use `Template` struct.
`use rust-handlebars::Template;` and `use handlebars::Template;`
but, it didn't work... :cry

[2016-02-21 07:01] sunng87 commented on #430
This is not "official". I don't think there will be an "official" templating middleware for Iron's architecture. :smile:

There is an example in the code tree:
https://github.com/sunng87/handlebars-iron/blob/master/examples/server.rs

Please check if it works for you.

[2016-02-21 07:17] sunng87 commented on #430
@shinriyo you data should implement `ToJson`, try

[code]

[2016-02-21 13:44] shinriyo commented on #430
@sunng87
Thank you for replying.
I found how to use `Template`.
[code]

I fix like by your advice.
``
    fn hello_world(_: &mut Request) -> IronResult<Response> {
        let mut resp = Response::new();
        let data = String::new();
        resp.set_mut(Template::new("index", data)).set_mut(status::Ok);
        Ok(resp)
    }
[code]
Iron::new(router).http("localhost:3000").unwrap();
[code]

[2016-02-22 04:10] reem commented on #409
Yes, I agree making ssl opt-in is the right move here.

[2016-02-22 04:12] #406 closed

[2016-02-22 04:13] reem commented on #396
I believe this is basically fixed by turning hyper keep alive back on by default.

[2016-02-22 04:13] #396 closed

[2016-02-22 04:14] reem commented on #420
@wubin1989 openssl v0.7.5 is referring to version 0.7.5 of rust-openssl, see https://github.com/sfackler/rust-openssl not the version of openssl itself.

[2016-02-26 13:49] mvdnes commented on #409
Great! This will greatly improve the experience on Windows. Should I submit a PR removing the default or is there more work to be done?

[2016-02-26 14:13] untitaker commented on #409
I don't think there's any other change required.

Reverting all those `default-features = false` PRs is not required to make this work, although I suppose it should be done at some point.

[2016-02-26 20:44] reem commented on #409
Remove the default feature should be all that is needed.

[2016-03-10 11:09] untitaker commented on #430
I think this can be closed then.

[2016-03-10 11:10] #430 closed

[2016-03-10 19:20] #409 closed

[2016-03-10 19:59] azasypkin commented on #225
Hey @reem, is there any example of how "assign a Reader to body"?

I have something very similar to https://github.com/iron/iron/issues/423, but I want to continuously stream response returned by Hyper client.

Thanks!

[2016-03-10 23:37] azasypkin commented on #225
Thanks for your reply @untitaker! So as the result I've just created custom ```struct``` that implements ```WriteBody + Send```. If simplify a lot and omit error handling ```write_body``` will look like in case someone finds it useful:
[code]

[2016-03-11 13:06] untitaker commented on #225
As far as I can tell you can just use [std::io::copy](https://doc.rust-lang.org/std/io/fn.copy.html) for this?

[2016-03-16 06:51] Matrix-Zhang opened #437 "Question: Only 8 connections can coming at the same time when the cpu_num is 1?"
I have check the hyper and iron souce code, the threads is num_cpus * 5 / 4, and the iron is cpus_nums * 8, so at the same time only 8 connections can accept??

[2016-03-16 15:53] Fiedzia opened #438 "Allow single instance middlewares"
Please allow (by redesigning or adding another type) middlewares to be single-instance types
which have before and after method. All other webframeworks work this way.

I was trying to define middleware as a struct that contains some data (dbpool in my case, but it doesn't matter). The problem is that  middlewares are held separately in self.befores and self.afters. It prevents (or at least compli

[2016-03-16 22:58] reem commented on #437
Yes, by default this is true, but you can configure the size of the thread pool using the `Iron::listen_with` method.

[2016-03-16 22:58] #437 closed

[2016-03-20 02:43] ghmlee opened #440 "How to get a value from headers using a specific key like Content-Type?"
My question is that  how to get a value from headers in a request using a specific key like Content-Type?

[2016-03-20 12:04] untitaker commented on #440
[`iron::Request`](http://ironframework.io/doc/iron/request/struct.Request.html) has a `headers` field, whose type is from [hyper](http://hyper.rs/hyper/hyper/header/struct.Headers.html).

    request.headers.get::<iron::headers::ContentType>()

This will return an instance of this struct: http://ironframework.io/doc/iron/headers/struct.ContentType.html

[2016-03-20 12:04] #440 closed

[2016-03-21 20:36] yesmin opened #441 "Benchmark"
In i7-4980HQ all 8 threads.

[http://ark.intel.com/products/83503/Intel-Core-i7-4980HQ-Processor-6M-Cache-up-to-4_00-GHz](http://ark.intel.com/products/83503/Intel-Core-i7-4980HQ-Processor-6M-Cache-up-to-4_00-GHz)

[2016-03-21 20:46] untitaker commented on #441
...what?

[2016-03-21 20:54] mtib commented on #441
...what?

[2016-03-21 20:58] yesmin commented on #441
The processor intel i7-4980HQ with 8 threads, the performance test is invalid.

Page [https://github.com/iron/iron/wiki/How-to-Benchmark-hello.rs-Example](Benchmark)

Sorry for bad English.

[2016-03-21 21:00] untitaker commented on #441
How is the performance test invalid because of this processor?

[2016-03-21 21:02] untitaker commented on #441
Ah, now I understand. From the page:

This refers to the amount of POSIX threads the Iron server spawns.

You are claiming this is outdated/wrong/invalid because the Intel page claims that this Intel CPU has only 8 threads.

This is not relevant though: You can spawn as many POSIX threads as you like, independent of the CPU.

[2016-03-21 21:02] #441 closed

[2016-03-22 21:50] calebmer opened #442 "Hide default port in `Display` trait for `Url`."
Because the `Display` is meant to be user facing, I'd like it if default ports (80 for `http` and 443 for `https`) are hidden. Currently the following is true:

[code]

Instead could it be the following?

[code]

[2016-03-22 22:05] LFalch commented on #442
I don't see any particularly good reason not to hide the default ports.

[2016-03-23 20:05] calebmer commented on #220
I could definitely use this. Especially for streaming and testing as the current docs/types currently aren't too helpful in deducing how to do these things.

[2016-03-23 20:07] calebmer opened #443 "Streaming an iterator to response."
I have an iterator of strings, is there any way to stream this iterator as my response?

[2016-03-24 02:05] reem commented on #442
Yup, seems reasonable, this is also an easy task, so marking with easy so someone new has the opportunity to fix it.

[2016-03-28 04:17] ghotiphud opened #444 "If POST body is not read, it is not flushed."
While testing Iron, I've found that if I POST some data, and quickly click another link the second one will return 404.  After enabling Logger, I'm seeing the method of the second request looks like `foo=1&bar=2GET`.  Fixing my POST handler to actually read the data (via urlencoded) makes this issue disappear.

[2016-03-28 11:35] KalitaAlexey commented on #438
You may add BeforeMiddleware and AfterMiddleware. If you want middleware for both ends then you may add AroundMiddleware.

[2016-03-28 14:56] untitaker commented on #438
what @KalitaAlexey said. With that, I don't think there's anything actionable here.

[2016-03-28 14:56] #438 closed

[2016-04-02 11:08] waqqas-abdulkareem commented on #442
Hi guys.
I'm new to Rust but excited about contributing. I've done a fix for this issue and I'd like to create a pull request. Which branch do I create a request on? There seem to be only 2: "master" and "feat/autogen". I

Thanks!

[2016-04-03 23:45] dariusc93 commented on #424
I know this is a late reply but it probably would be best to do this with nginx, haproxy or the like.

[2016-04-06 13:50] bfrog opened #446 "Hyper MIO Branch Compatibility"
It would be great to see how, if at all, the mio branch of hyper will change things with Iron.

[2016-04-10 11:18] rix0rrr opened #447 "Advanced OpenSSL config (client certs)"
I want to use Iron in a context where I'm required to use client certificates.

However, the OpenSSL config is quite limited now, and I'm not able to set any of the advanced configuration options.

I'd like to contribute, but I'm not sure what the best approach would be. I'm considering adding a struct to `Protocol::Https`, but that would break backwards compatibility with existing code.

I can al

[2016-04-10 11:53] sunng87 commented on #447
Sorry for off-topic. I just feel the SSL thing may be out of the core scope of iron, as a web framework. In python world we saw a clear separation between servers and frameworks. I think it's time for iron developers think about #261 and #295

[2016-04-10 17:11] rix0rrr commented on #447
I do agree, but at the same time I don't really have the time, or a choice, right now :)

[2016-04-12 03:42] Matrix-Zhang opened #448 "how to add a new header into response at after middleware ?"
such as my server's UA and the ContentType,

because of the response is immutable, i don't know how to do it

[2016-04-12 03:52] sunng87 commented on #448
You can find a working example in my [iron-json-response](https://github.com/sunng87/iron-json-response/blob/master/src/lib.rs#L69)

[2016-04-12 12:19] KalitaAlexey opened #449 "Error on attempt to use Plugin::get_ref"
I have a code

[code]

It doesn't compile because there is no `get_ref` on `Request`.

The compiler suggests me `use iron::Pluggable`. I am inserting and it doesn't see `Pluggable` in `iron`.

Documentation generated with `cargo doc` contains
![screenshot from 2016-04-12 16 16 27](https://cloud.githubusercontent.com/assets/11215191/14459627/0edfb838-00ca-11e6-80d1-f59d857fe070.png)

I am replacing

[2016-04-13 15:03] untitaker commented on #448
Mutability is a property of variables in Rust, not types (except maybe for pointer types).

You can use `response.set_mut` to add modifiers to the response (Like the ones you pass to `Response::with` or `Response::set`).

[2016-04-13 15:03] #448 closed

[2016-04-13 15:47] untitaker commented on #449
The docs in ironframework.io seem to be out of sync.

[2016-04-13 16:00] KalitaAlexey commented on #449
@untitaker It is lesser problem. Why does the compiler suggests me use `iron::Pluggable`?

[2016-04-13 16:01] untitaker commented on #449
I don't know (not Iron's issue tbh), but perhaps it can't deal with `use-as`: https://github.com/iron/iron/blob/master/src/lib.rs#L95

[2016-04-13 16:05] KalitaAlexey commented on #449
I will try to reproduce bug and will open issue in **rustc** repo. Thanks.

[2016-04-17 00:32] forgemo commented on #443
Bump!

I do have the same use case: Lazy iterator of strings
I would like to start streaming data to the client while the iterator is still being iterated over.

This is with the current Iron API not possible as far as I understand it.

Am I missing something? Any tips?

[2016-04-22 19:38] #442 closed

[2016-05-12 08:28] Matrix-Zhang opened #454 "how to redirect to relative url?"
the iron::Url::parse not supprt relative url?

right now, i can just set the location header instead of use Redirect...

[2016-05-16 16:01] jjmornim opened #456 "Is Iron capable of determining whether a request is with or without "www"?"
How can I determine whether it's "www" or "" request to my domain on  a server?
And how can I redirect from "www" to ""?

[2016-05-18 05:27] phillipCouto commented on #456
You would loot at the url value in the request input to your handler.

[2016-05-25 16:00] ghost opened #458 "Framework to add support for unix socket protocol"
Sort of awkwardly worded title; right now, I would like to be able to use a unix socket to proxy an Iron server through another HTTP server. I know that such an extension is possible, because the crate [hyperlocal](https://github.com/softprops/hyperlocal) exists to add Unix socket support to Hyper. Unix sockets are beneficial because they can have permissions to only be read by certain processes.

[2016-06-02 00:31] RustyRails opened #459 "Homepage example is weird"
On:
http://ironframework.io/

the main example has:
[code]
which is a bit confusing to beginners, because the println will never actually run, I suggest it be changed to:

[code]

[2016-06-04 01:58] bfrog commented on #446
One thing that I've found useful is the ability to have per listener thread state. In my case the Sender side of std::sync::mpsc::channel's, but I could see other per thread data being useful. So perhaps something akin to iron/persistent but with a way to set it up per worker thread. Maybe even simply allowing the user to create an iron server per thread as hyper does now would allow per thread st

[2016-06-04 06:54] alanhoff opened #460 "Cannot borrow *req as a mutable"
Hello folks,

I'm trying to use a middleware that I wrote and the `params` crate, but if I try to use `req` more than once the compiler complains:

[code]

This is what my handle looks like:

[code]

All that my `Database` middleware does is to put a `r2d2` connection pool into each request. This looks like I'm having problems to understand the concept of the language so I would appreciate if some

[2016-06-04 09:09] SkylerLipthay commented on #460
Hi!

[`req.extensions.get`](http://ironframework.io/doc/iron/typemap/struct.TypeMap.html#method.get) captures `&self`, so `req` itself is immutably borrowed for the rest of the scope (in this case, the rest of the function). [`req.get_ref`](http://ironframework.io/doc/iron/prelude/trait.Pluggable.html#method.get_ref) tries to capture `&mut self`, but `req` cannot be mutably borrowed while any othe

[2016-06-04 15:13] alanhoff commented on #460
That was supper informative! Many thanks :-)

[2016-06-04 15:13] #460 closed

[2016-06-05 02:43] kevinastone opened #461 "Re-Export Modifier"
Could you re-export `modifier`?  It feels like an internal implementation and I don't think it makes much sense separately adding a dependency and extern crate for `modifier` to add my own Response modifiers.

[2016-06-05 09:41] zr40 commented on #461
If you're going to depend on `modifier`, why doesn't it make sense adding it as an explicit dependency?

[2016-06-05 13:16] kevinastone commented on #461
Because I should depend on the version from iron.  I shouldn't have to keep my modifier dependency in sync with Iron's.

[2016-06-06 05:23] kevinastone commented on #454
On master, you can use `RedirectRaw` since it just takes a bare string.

[2016-06-06 05:25] kevinastone commented on #454
I just used:
[code]

[2016-06-07 05:09] kevinastone commented on #443
You just need to implement your own `WriteBody` trait implementation.  I wrote one that takes a `vec<u8>` as  toy:

[code]

(I intentionally flush after every byte as a test, it's not designed to be performant)

[2016-06-07 18:51] gsquire commented on #461
Is it not [already](https://github.com/iron/iron/blob/2fd6e079592ec340d8c75200bd54fde91ce34d51/src/lib.rs#L135)?

[2016-06-07 19:12] untitaker commented on #461
Yes it is.

[2016-06-07 19:12] #461 closed

[2016-06-07 20:14] untitaker commented on #443
We could add a default implementation for `T: Iterator<Item=String>` or something like that.

[2016-06-10 18:54] kevinastone opened #462 "New Release?"
Any reason not to publish an new release `v0.3.1` up to Crates.io?  Would like to get the fixed URL without the standard ports (e.g. `http://example.com` instead of `http://example.com:80`) without having to use git checkouts for dependencies.

[2016-06-12 07:51] xpe opened #463 "https / malloc: *** error for object ... pointer being freed was not allocated"
I don't know for sure if this is caused by Iron, but I'll share what I know about my error.

My "Cargo.toml" file:

[code]

My "main.rs" file:

[code]

[code]

but at some point, this happens:

[code]

Here is how I reproduce the crash... I refresh about five to fifteen times in my web browser pointing to "https://localhost:3000/foo".

I'm not sure what the cause is. It is not obviously the number

[2016-06-12 16:24] xpe commented on #463
I got more information:

[code]

[2016-06-15 08:56] #454 closed

[2016-06-21 22:11] dns2utf8 commented on #359
The rust-websocket seems to have stopped development. Is there anyone looking into it again?

[2016-06-22 15:37] SamuelMarks commented on #359
There's always https://github.com/housleyjk/ws-rs

But there are recent commits to rust-websocket also: https://github.com/cyderize/rust-websocket/commits/master

[2016-06-24 16:22] dns2utf8 commented on #359
I was hoping for a direct Integration or a way to integrate one directly so it would use only one port

[2016-06-25 00:06] bfrog commented on #446
I spent some time investigating this and it really comes down to the Body readable at the moment is problematic. To avoid pushing all the async stuff into Iron the request body needs to either be entirely in memory or entirely on disk. As an alternative perhaps a continuation can be returned as a IronResult specifying it needs the Body to begin with. In all scenarios Body is no longer the same as

[2016-06-26 18:51] cfredric opened #464 "Iron::https is undocumented"
Looking at http://ironframework.io/doc/iron/struct.Iron.html, there's no mention of `Iron::https`, but if you look at the Src (http://ironframework.io/doc/src/iron/src/iron.rs.html#95-184) `https` is indeed there.

I have no experience with how this documentation is generated, but my first guess is that it might have something to do with the `#[cfg(feature = "ssl")]` tag.

[2016-07-03 08:01] badboy commented on #464
Docs are built using [this script](https://github.com/iron-bot/build-doc/blob/master/build-doc.sh).
It should build the docs using `cargo docs --features ssl` here: https://github.com/iron-bot/build-doc/blob/master/build-doc.sh#L8

[2016-07-03 17:56] flosse opened #465 "basic auth example"
Is there an example or even middleware for basic auth?

[2016-07-04 05:57] VJOfficial opened #466 "MIO support ?"
Hello , i didn't find any mio dependency in Cargo.toml. so, this is running on pure OS threads ? can you tell me if yes , then why not using MIO ?

[2016-07-04 06:13] s-panferov commented on #466
Please see https://github.com/iron/iron/issues/446

[2016-07-04 10:30] reem commented on #466
Closing in favor of #446

[2016-07-04 10:30] #466 closed

[2016-07-04 10:37] reem commented on #446
So thinking about this more, the ideal situation is:

- we have an in-memory buffer for reading data from the socket
- we read into this buffer whenever a chunk is available until it is full
- user code can drain from this buffer asynchronously
- when the buffer is full we stop reading from the socket until the user code has drained some data, then we resume (the logic here is a bit tricky, but it

[2016-07-04 10:38] reem commented on #446
In terms of how I'm thinking to land something like this: I'd like to do one more release of iron that will be the final release based off of sync hyper and that exposes a sync interface, then start another release for the asynchronous version. We can then maintain the synchronous version for some time before deprecating it.

[2016-07-04 10:39] reem commented on #459
Yes! It should actually be something like:

[code]

which would actually wait until the server is listening to print that it is listening. The problem with the current example is that the server guard is dropped immediately, instead of saved.

[2016-07-04 21:35] Cobrand commented on #464
Is it possible to have 2 docs generated ? One for iron with ssl features, and another for iron without ssl features ? Or maybe we can only generate with ssl features and tag them appropriately in the docs (saying that these methods / structs / ... are only available with `--features ssl` ?)

Another quick question - but maybe here is not the right place - why not make ssl a default feature that yo

[2016-07-05 16:15] flosse opened #467 "how to write to body?"
I'd like to write to the body of a response like this:

[code]
Of course it doesn't work this way but could you give me a hint how to get the `Writer` of a new `Response`?

[2016-07-05 17:19] gsquire commented on #467
In Iron, you can use the [Modifier](http://ironframework.io/doc/modifier/trait.Modifier.html) trait to provide a response body. The best way to do this is through [`Response::with`](http://ironframework.io/doc/iron/response/struct.Response.html#method.with). It will accept anything that implements the Modifier trait for a Response.

You can pass in a String, bytes, a File, status codes, etc. And t

[2016-07-08 14:36] bfrog commented on #446
Seems like a sensible way of doing things to me

[2016-07-09 00:08] yazaddaruvala commented on #446
@reem what are your thoughts on releasing a version of sync-iron where the backend is async-hyper?

Basically make it extremely easy for people to migrate over and test the new backend.

I guess the question is, do you think the cost of implementing a sync shim on top of hyper is low enough to warrant the added testing?

[2016-07-14 09:33] inxi-pc opened #468 "Are there any solution about handler function cant get self pointor"
As the title showing. I have a struct named MyResource. I write some method in this struct.

but when i want to write some business logic, i found i cant finish it, because i want to get

struct pointer self to finish.

Are there any solution?  Thanks

[code]

[2016-07-18 10:48] flosse opened #469 "Changelog"
I would be great if there were a changelog file or at least some words about the release :)

[2016-07-22 03:33] shanegibbs commented on #414
This is a must for long polling.

[2016-07-22 18:54] Stebalien opened #470 "Add the Content-Location header"
See https://tools.ietf.org/html/rfc7231#section-3.1.4.2

[2016-07-22 21:27] gsquire commented on #470
This may be a better issue for [hyper](https://github.com/hyperium/hyper).

[2016-07-22 21:34] Stebalien commented on #470
Ah. I didn't realize they were pulled directly from hyper (documentation? what documentation?) :)

[2016-07-22 21:35] Stebalien commented on #470
https://github.com/hyperium/hyper/issues/870

[2016-07-22 21:35] #470 closed

[2016-07-26 07:31] Hoverbear commented on #467
@flosse Did this solve your question, or perhaps we could expand on the answer in some way?

[2016-07-26 07:32] Hoverbear commented on #465
https://github.com/iron/session exists and may be a good starting point for this. You can also explore http://www.arewewebyet.org/topics/auth/.

If you find a way to make these integrate well with Iron please feel encouraged to write about it and report back.

[2016-07-26 07:32] #465 closed

[2016-07-26 07:34] Hoverbear commented on #384
Hey folks! I'm closing this issue since it's been inactive for almost a year. Please feel free to contribute some documentation in some way comparing the two, or even writing an article/post about it on your fancy websites. :)

[2016-07-26 07:34] #384 closed

[2016-07-26 07:36] Hoverbear commented on #462
Hi, 4.0 has been released!

[2016-07-26 08:50] kevinastone commented on #462
Missing a tag for `0.4.0`...

[2016-07-26 08:56] flosse commented on #467
@Hoverbear It's still unclear for me :(
It would be great to get an working example, so that I can replace my `out` with something like `res.body`:
[code]

[2016-07-26 08:57] flosse commented on #465
@Hoverbear thx!

[2016-07-26 18:03] Hoverbear commented on #467
@flosse Can you share a gist or example?

[2016-07-26 18:17] Hoverbear commented on #462
https://github.com/iron/iron/tree/0.4.0

[2016-07-26 18:17] #462 closed

[2016-07-27 14:43] flosse commented on #467
https://gist.github.com/flosse/da963de2bbb466bdca09c23757b070ce

[2016-07-27 15:34] untitaker commented on #467
You can just do `Response::with(body_buffer)`.

[2016-08-02 15:11] BenjaminGill-Metaswitch opened #471 "Cargo.toml in iron 0.3 doesn't match version in repository"
As of rustc 1.12.0-nightly (7333c4ac2 2016-07-31), iron 0.3 as downloaded by nightly Cargo fails to compile with the following error:

[code]

As far as I can tell, this is due to `plugin = "0.2*"` in Cargo.toml - removing the `*` causes it to compile again quite happily. This was fixed in 16c858ec2901e2992fe5e529780f59fa8ed12903 - I don't know how this is still present in the version that cargo a

[2016-08-02 15:55] untitaker commented on #471
Do older Rust versions not have this problem?

On 2 August 2016 17:11:52 CEST, BenjaminGill-Metaswitch <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-02 16:14] BenjaminGill-Metaswitch commented on #471
No - rustc 1.12.0-nightly (1225e122f 2016-07-30) is perfectly happy compiling iron 0.3.

[2016-08-06 08:29] lunemec opened #472 "thread '<unnamed>' panicked at 'called `Result::unwrap()`"
Hello,

I was trying to benchmark my app that uses Iron by HTTP POSTing a large file, but this thread panick was the result. I'm not sure if this is caused by Iron or Hyper, but here is how to reproduce this:

1: create a large file:
[code]

2: run https://github.com/lunemec/rust-http-logger (or anything that accepts POST data):
[code]

3: curl the data:
[code]

4: This wild tread panic traceback

[2016-08-06 11:47] lunemec commented on #472
Ah, as it turns out, it was not a bug in Iron or in Params library, the code just needed to be changed from :
[code]
to :
[code]
This works for incorrect JSON data or for too large request body.

[2016-08-06 11:47] #472 closed

[2016-08-13 09:30] chpio commented on #458
+1

[2016-08-13 15:01] untitaker commented on #471
I'm unable to reproduce this. I can't find the broken version specifier at either [the git repo](https://github.com/rust-lang/crates.io-index/blob/master/ir/on/iron) or [the frontend](https://crates.io/crates/iron/0.3.0)

[2016-08-13 15:02] untitaker commented on #471
Sorry, nevermind.

[2016-08-13 15:16] #471 closed

[2016-08-13 15:16] untitaker commented on #467
@flosse any update on this?

[2016-08-13 15:18] untitaker commented on #468
Please ask this on the rust IRC channel or StackOverflow.

[2016-08-13 15:18] #468 closed

[2016-08-15 13:48] Mark-Simulacrum opened #473 "Displaying a response prints status message twice"
My response is displayed as:
[code]

with two repeating `OK`s; this is unexpected. Perhaps I'm not expecting the right thing though--my reference is [this](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Server_response) Wikipedia article.

[2016-08-15 14:10] untitaker commented on #473
This is a bug because the hyper status representation changed.

[2016-08-18 22:39] #473 closed

[2016-08-18 22:40] untitaker commented on #467
Closing due to inactivity, ping if anything is unclear.

[2016-08-18 22:40] #467 closed

[2016-08-20 09:09] ssemakin opened #476 "Getting "connection refused" when proxying to an Iron-based app"
Hi, I'm having an issue (Connection refused) when trying to proxy through Ring/Clojure to an Iron-based app. Proxying to any other remote works just fine, so I'm wondering what could be wrong. Both services are run on localhost, ports 4000 (Ring) and 3000 (Iron). I'm using latest Iron i.e. 0.4.0.

I'm not sure if it's related, but when I'm running CURL with 127.0.0.1 instead of localhost on the
Ir

[2016-08-21 08:03] navidnabavi opened #477 "File as Iron Response"
Is it possible to return a file as response?
What is the best way assuming there is no Nginx. Staticfiles package os Iron supporting only with mounting a folder. Is it possible to redirect to a static route internally like X-SEND or X-AXCEL-REDIRECt?

[2016-08-21 15:24] ssemakin commented on #476
I've managed to fix my issue by changing:

`Iron::new(router).http("localhost:3000").unwrap();`

to

`Iron::new(router).http("127.0.0.1:3000").unwrap();`

Not sure which way would be more correct though.

So please feel free to close this issue if you decide so.

[2016-08-22 05:38] Hoverbear commented on #476
Hmm... Could you give me an idea of what your network adapters look like? Maybe they're binding on different interfaces? I'm not sure that would even make sense though, would would they do that?

[2016-08-22 17:02] gsquire commented on #477
Yes, it is.

You can use [iron's modifiers](http://ironframework.io/doc/modifier/trait.Modifier.html) in a Response like such:

[code]

[2016-08-22 17:10] ssemakin commented on #476
I would definitely think something is funny going on with my setup but again, as I mentioned in the initial post running 127.0.0.1/localhost interchangeably on other services on my machine works fine. So yeah, it is puzzling.

Here is how my *ifconfig* output looks like, let me know if you want me to run a different command:

[code]

[2016-08-22 18:24] #477 closed

[2016-08-23 08:32] Hoverbear commented on #469
That'd be great! We could use something like https://github.com/semantic-rs/semantic-rs to do this I think.

[2016-08-23 08:37] Hoverbear commented on #476
I admit I'm not really sure on this, perhaps someone else has some input.

[2016-08-23 13:29] untitaker commented on #476
It appears listening on `localhost` makes Iron listen to the IPv6 address on your machine, but not the IPv4 one. `curl` will first try IPv6 for resolving `localhost`, but obviously not for `127.0.0.1`.

So *I think* the difference between Iron and your other services is that Iron will resolve to IPv6 by default while your other services use IPv4. I imagine if you try `curl http://[::1]:<port>`, it

[2016-08-23 22:31] fuchsnj commented on #444
I have the same issue. This causes the HTTP method on the next request to parse incorrectly, and looks like this:
[code]

See the issue causing this in hyper I opened a while ago: https://github.com/hyperium/hyper/issues/652
And it looks like a fixed was merged recently: https://github.com/hyperium/hyper/issues/309

[2016-08-24 14:20] untitaker commented on #444
There were also a few releases inbetween, so `cargo update` probably should fix this issue automatically. However, I wonder if we should explicitly require at least the `0.9.x` release that brought this fix.

[2016-08-24 22:25] KenanSulayman opened #478 "Pass hyper instance to iron"
Hey,

is there a way I could pass a hyper instance to iron?

This is so I could use the same hyper instance for websocket and then do iron magic on top.

Thanks! 🍻

[2016-08-25 00:50] KenanSulayman commented on #456
You can peek into the `Host` header. Simply match that against your `www` prefixed TLD and you're ready to go

[2016-09-07 04:40] PlasmaPower commented on #463
This error is coming from iron's HTTP library `hyper`, which in turn uses `rust-openssl` for HTTPS. Try to reproduce the issue with a raw `hyper` server, then report it there (it doesn't seem reasonable to reproduce it without hyper, most likely it's due in part to hyper's use of rust-openssl).

[2016-09-07 04:42] PlasmaPower commented on #353
This has been fixed, I'd like to reiterate the request for this issue to be closed.

[2016-09-07 06:48] #353 closed

[2016-09-08 10:18] Hoverbear commented on #463
And please link the issue here when you do so we can follow it =D

[2016-09-08 21:37] reem commented on #478
@adrianbrink this `Handler` is the *iron* `Handler` trait, not the hyper one. It's defined here https://github.com/iron/iron/blob/16c858ec2901e2992fe5e529780f59fa8ed12903/src/middleware/mod.rs#L57-L61.

[2016-09-08 21:59] KenanSulayman commented on #478
It's initialized here: [src/iron.rs#L154](https://github.com/iron/iron/blob/16c858ec2901e2992fe5e529780f59fa8ed12903/src/iron.rs#L154).

I'd go with something like this:

[code]

[2016-09-09 07:40] adrianbrink commented on #478
How come that we also implement the Handler trait from hyper.

`impl<H: Handler> ::hyper::server::Handler for Iron<H> {`

in [iron.rs](https://github.com/iron/iron/blob/master/src/iron.rs)

[2016-09-09 07:47] KenanSulayman commented on #478
It effectively sends the request to the Händler functions and processes the output. The instantiation is still in listen_with

[2016-09-11 19:31] shepmaster commented on #459
There appears to be a [pull request for this](https://github.com/iron/iron.github.io/pull/25).

[2016-09-11 19:54] #459 closed

[2016-09-16 19:21] vojtechkral opened #480 "Cannot upload form multipart data over 512kB"
Hi,
  I'm not sure if this is an Iron or Hyper problem, but I'm unable to upload a file using html form if the file size is over 512kB using Chromium.

File with size of 512kB or less are uploaded fine. When using Firefox, files larger than 512kB can be uploaded just fine.

There's no error, there's nothing strange in the debug log, but Request body cannot be read and according to Chromium the req

[2016-09-16 20:49] Hoverbear commented on #480
Hi! Thanks for raising this. Any chance you could provide the headers which Firefox sends (but succeeds) as well? Maybe there is a difference.

[2016-09-16 21:40] vojtechkral commented on #480
Firefox headers:

[code]

... I don't really see a difference appart maybe from the cache

[2016-09-16 22:28] vojtechkral commented on #480
I also noticed this only happens with `multipart/form-data`, when I send the data appended to the request raw, there's no problem even with much larger files.

[2016-09-19 18:59] brunoqc opened #481 "support for X-Real-IP or X-Forwarded-For"
Maybe a helper fonction or something to get the real IP when behind a proxy.

[2016-09-19 20:53] untitaker commented on #481
That should be a BeforeMiddleware and probably also its own crate. I have one here: https://github.com/untitaker/mysteryshack/blob/master/src/mysteryshack/web/utils.rs#L22

[2016-09-19 21:12] untitaker commented on #481
Also this thing is possibly incomplete, e.g. it only modifies the request URI and not the `Host` header too.

[2016-09-20 05:33] Hoverbear commented on #481
This is an often used feature!

If you're interested in working on this @brunoqc we can definitely support you. :) I'm sure people would use it.

[2016-09-30 03:36] vignesh-sankaran opened #483 "ssl feature is not documented in online docs"
Struggling to figure out how to start up Iron with HTTPS rather than the default HTTP. Do we also need to provide security certificates, or is that generated by Hyper?

[2016-09-30 06:46] untitaker commented on #483
If you build Iron with the `ssl` feature, you get the `https` method which takes a path to certificate and key.

@reem I'd like to modify the iron-bot script, could it be moved to the iron org?

[2016-09-30 06:54] Synesso opened #484 "Connection refused with JVM client"
[code]

[code]

but

[code]

I found this issue when my own Iron app suddenly stopped accepting requests. I raised a [stackoverflow question](http://stackoverflow.com/questions/39781623/localhost-iron-server-curl-connects-but-scala-cannot), but then it started working again. A few hours later, the app is no longer accepting requests from the JVM once more.

* OSX 10.11.6
* cargo 0.13.0-nightly (93

[2016-09-30 07:05] untitaker commented on #484
Do other clients work while the JVM client fails?

On Thu, Sep 29, 2016 at 11:54:30PM -0700, Jeremy Mawson wrote:

[2016-09-30 07:07] reem commented on #483
@untitaker so awkward situation but I appear to have lost the password for iron-bot, I'll keep looking into it and update you

[2016-09-30 07:12] Synesso commented on #484
Yes, curl works.

Also, if I run `python -m SimpleHTTPServer`, I can access those pages from
Scala OK.

On 30 September 2016 at 17:05, Markus Unterwaditzer <
notifications@github.com> wrote:

[2016-09-30 08:09] Hoverbear commented on #484
Can you confirm that it is still an intermittent problem if you connect from 127.0.0.1?

[2016-09-30 08:11] Hoverbear commented on #483
@vignesh-sankaran You'll need your own security certificates. I suggest using https://letsencrypt.org/ for this purpose since it's free and you don't need to deal with a crusty CA.

[2016-09-30 08:14] Hoverbear commented on #484
Could it be related to #476?

[2016-09-30 08:16] vignesh-sankaran commented on #483
@Hoverbear Yep I do plan on using LE but am generating my own certs with OpenSSL in the dev environment for now

Thanks @untitaker, that did the trick

[2016-09-30 08:18] Synesso commented on #484
I can confirm that it worked with my app at some stage, and then stopped
again. I have not yet seen it work once more. I did not capture the changes
which flipped it from working to not working and back again, but I wasn't
touching networking code in either client or server app.

On 30 September 2016 at 18:09, Andrew Hobden <notifications@github.com>
wrote:

[2016-09-30 08:20] Hoverbear commented on #368
Please feel free to submit a PR adding examples. I'm closing this in favor of #311.

[2016-09-30 08:20] #368 closed

[2016-09-30 08:21] Synesso commented on #484
If I modify hello.rs to bind to 127.0.0.1 instead of localhost, it works
from Scala with either 127.0.0.1 or localhost.
Whilst hello.rs binds to localhost, nothing works from Scala (yet works
from curl).

On 30 September 2016 at 18:14, Andrew Hobden <notifications@github.com>
wrote:

[2016-09-30 08:24] Hoverbear commented on #446
With Hyper moving to `futures-rs` and `tokio` this issue is irrelevant. Hyper no longer has a `mio` branch, but it does have a `tokio` branch.

Closing this, if you're interested in improving the `async` situation please help out with Hyper's `tokio` branch. After it's ready we can get Iron working on it. :)

[2016-09-30 08:24] #446 closed

[2016-09-30 08:25] Hoverbear commented on #484
Okay can you give me the output of your hosts file? Please see this comment from @untitaker https://github.com/iron/iron/issues/476#issuecomment-241730172

[2016-09-30 08:35] Synesso commented on #484
##
# Host Database
#
# localhost is used to configure the loopback interface
# when the system is booting.  Do not change this entry.
##
127.0.0.1 localhost
#127.0.0.1 art.local
255.255.255.255 broadcasthost
::1             localhost

I commented out the last line and it now works. So yes, same issue.

Thank you

On 30 September 2016 at 18:25, Andrew Hobden <notifications@github.com>
wrote:

[2016-09-30 08:36] untitaker commented on #446
We might as well rename this issue. :)

[2016-09-30 10:40] Hoverbear commented on #484
Okay, perfect. So this issue is resolved then? Can we close this?

[2016-09-30 10:42] Hoverbear commented on #480
I see a difference in the `Content-Type` field.

[code]

Hmm...

[2016-09-30 10:44] Hoverbear commented on #476
In #484 we confirmed that this is likely the issue.

I suspect it is likely that some (older) applications prefer IPv4 while some (newer) applications prefer IPv6.

[2016-09-30 10:48] #420 closed

[2016-09-30 10:48] Hoverbear commented on #420
This is a question and has been answered, thus it is closed.

[2016-09-30 10:52] Hoverbear commented on #464
#483 covers this and is in progress. Closing this in favor of that.

@Cobrand:

You're welcome to create a new issue for this.

[2016-09-30 10:52] #464 closed

[2016-09-30 10:53] Hoverbear commented on #456
Closing, this has been answered and there have been no followups. :)

[2016-09-30 10:53] #456 closed

[2016-09-30 10:57] Hoverbear commented on #177
Closing since this seems to be resolved by other libraries/repos. Thanks everyone! :)

[2016-09-30 10:57] #177 closed

[2016-09-30 11:00] Hoverbear commented on #449
@KalitaAlexey Please re-open this issue if things are still a problem, otherwise this issue has been stale for several months and seems to be related to unlinked upstream bugs.

[2016-09-30 11:26] Hoverbear commented on #463
I was unable to repo this with the latest versions.

`Cargo.toml`:
[code]

`src/main.rs`:
[code]

Running:

[code]

A bunch as well as loading the URL in my browser many times resulted in no errors:

![screen shot 2016-09-30 at 13 24 49](https://cloud.githubusercontent.com/assets/130903/18990346/761cca4a-8711-11e6-93d2-4ed45ffc006f.png)

Closing since this seems to no longer be an issue.

[2016-09-30 11:26] #463 closed

[2016-10-01 05:00] Synesso commented on #484
Indeed!

[2016-10-01 05:00] #484 closed

[2016-10-01 07:22] Hoverbear commented on #399
This issue has been resolved, closing!

[2016-10-01 07:22] #399 closed

[2016-10-01 07:24] Hoverbear commented on #343
Big props to @fsommar to taking this on and exploring! If you're interested in helping with their implementation please go do so on that repository.

Closing this for now.

[2016-10-01 07:24] #343 closed

[2016-10-01 07:31] Hoverbear commented on #327
You can reproduce this by running `cargo run --examples hello` and in another terminal issuins this curl command:

[code]

Output:

[code]

[2016-10-01 12:46] #327 closed

[2016-10-06 14:55] vojtechkral commented on #480
Hi. I managed to fixed this - the problem was actually on the front end where the body payload was embeded in a wrong encoding. Damn JavaScript. Sorry for the noise!

[2016-10-06 14:55] #480 closed

[2016-10-06 18:53] Hoverbear commented on #480
Hey that's great! I'm glad. I was actually talking with a colleague about this today! Haha

[2016-10-06 19:05] Hoverbear commented on #483
Just wanted to check, @reem. Any progress?

It may be worth looking at alternatives for documentation anyways. For example, http://docs.rs/

[2016-10-06 20:40] untitaker commented on #483
I don't think `docs.rs` is any more flexible. I doubt that you can configure features at all.

[2016-10-06 20:59] Hoverbear commented on #483
(I'd be willing to argue that a feature such as `https` should be opt-out rather than opt-in)

[2016-10-07 06:24] untitaker commented on #483
We already had it on by default, with the effect that it was impossible to disable because every extension implicitly depended on it when depending on standard Iron.

On 6 October 2016 22:59:47 CEST, Andrew Hobden <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-16 11:03] Hoverbear commented on #271
Rust-ci doesn't exist anymore, closing this.

[2016-10-16 11:03] #271 closed

[2016-10-17 11:23] sanmai-NL opened #488 "GET responds with HTTP 400 given `Host: [::1]:8000` request header"
This is a bug report. Given

[code]

[code]

this happens (unexpected)

[code]

whereas (expected)

[code]

[code]

[2016-10-17 12:17] Hoverbear commented on #488
Complete test code:

[code]

Correct unexpected case:

[code]

Correct expected case:

[code]

[2016-10-18 16:02] sanmai-NL commented on #488
Thanks @Hoverbear.

[2016-10-18 18:32] Hoverbear commented on #488
I wasn't able to figure out the issue in my cursory exploration. :(

[2016-10-28 07:16] kocoten1992 opened #493 "Website not show on public"
Here is what I've try:

The code is:
[code]

change in hosts file, /etc/hosts (ubuntu)
[code]

After this point, I try somecooldomain.dev on my local ubuntu, it display very fine, this is what I did next, on router I map port 80 router to my ubuntu machine 80, 80->80

Then I go to another computer (windows OS, on a different network), I change in hosts file, windows/system32/drivers/etc/hosts
[cod

[2016-10-28 15:31] Hoverbear commented on #493
This is probably because `somecooldomain.dev:80` is mapped to `127.0.0.1:80`. `127.0.0.1` means "only on the local host". :)

Can you try doing `.http("0.0.0.0:80")` instead?

[2016-10-29 10:28] kocoten1992 commented on #493
It working again, thank you :+1:

[2016-10-29 10:28] #493 closed

[2016-10-29 10:36] Hoverbear commented on #493
Awesome!

[2016-10-29 14:43] untitaker commented on #444
Bump, does upgrading hyper fix this?

[2016-10-29 14:45] untitaker commented on #425
What information in particular do you want from Hyper's datastructures?

[2016-10-31 17:39] untitaker commented on #488
This is a bug in Hyper's Host header parsing iff curl behavior is correct.

[2016-10-31 17:47] untitaker commented on #488
And curl's behavior is apparently correct.

[2016-10-31 19:36] untitaker commented on #488
Please test with https://github.com/hyperium/hyper/pull/946

[2016-11-02 17:09] untitaker opened #494 "Merge body-parser and urlencoded"
Those two crates have overlapping functionality

[2016-11-02 17:28] untitaker opened #495 "Decide on session middleware"
It appears that there are currently four (!!!) session middleware implementations available:

* https://crates.io/crates/iron_session by @dgriffen

  Appears to store session data in RAM
* https://crates.io/crates/session by @hikelee

  Redis as backend
* https://crates.io/crates/iron-sessionstorage by me

  Generic backend trait, signed cookie backend implemented. Theoretically the user could wri

[2016-11-02 18:17] Hoverbear commented on #494
:+1:

[2016-11-02 20:20] JoshLambda commented on #495
**TL;DR:** Project 1 and 4 seem a bit weird in the sense that they don't seem to practically address a user base with real life use cases. Project 2 offers the most features and examples, but is being heavily tied to Redis which can be a problem. On my opinion project 3 seems practical and modular, thus the most promising regarding further evolution.

..........

A subjective view on those 4 proje

[2016-11-02 20:41] untitaker commented on #495
Redis is unfinished yet in my library. It doesn't actually do anything yet

[2016-11-02 20:48] JoshLambda commented on #495
OK, I updated my comment.

[2016-11-02 21:17] hikelee commented on #495
Why not put the session middleware in iron crate? i think a web framework should have basic componments such as session,params,routers and so on. it waste developers' time to look around in crates.io for these basic functions.

[2016-11-02 21:22] untitaker commented on #495
I tend to agree with you for e.g. web frameworks in Python or other higher-level languages, but keep in mind that the usecases for Rust web applications are likely to be different. If one were to write an API server, that middleware may be completely unnecessary and slow down compiletime at best, bloat binaries at worst.

[2016-11-02 21:23] untitaker commented on #495
Also I'm trying to minimize the waste of time here by moving as much as possible into the iron org.

[2016-11-02 21:39] JoshLambda commented on #495
Iron was created with the idea of being a micro-framework with plug-ins (see [Philosophy](https://github.com/iron/iron#philosophy)). It gives the freedom to choose plug-ins independently. As @untitaker said above there isn't to much of a loss of time if they are all referenced on the front page. The drawback I would rather see is that quite often plug-ins tend to get less development than the core

[2016-11-02 21:45] untitaker commented on #495
Though I probably wouldn't have anything against including params/urlencoded/body-parser into iron, as most of those are not that large.

[2016-11-02 21:54] JoshLambda commented on #495
[This example](https://github.com/kaj/nickel-jwt-session/blob/master/examples/server-secure-multiple-routes.rs) for Nickel is really good, it would be great if we had something like that for Iron.

[2016-11-02 22:31] untitaker commented on #495
That library is acting on a different level though. The session libraries only allow you to set key-value data on the user session, this implements an entire auth layer

[2016-11-02 22:49] JoshLambda commented on #495
Well, this file isn't part of the library, it's an example file located in /example.
The library itself doesn't do more than your own implementation (a key/value storage with cookies). The whole auth logic is contained in this example file only.
Still it provides good reusable code, which I think is part of framework value and great for user productivity.

[2016-11-02 23:35] untitaker commented on #495
Not entirely sure what you're looking for, just added a barebones login example: https://github.com/untitaker/iron-sessionstorage/blob/master/examples/login.rs

[2016-11-02 23:40] JoshLambda commented on #495
That's simply perfect. It will help me and many others with getting started.
Thanks!

[2016-11-04 17:58] untitaker commented on #495
I moved iron-sessionstorage to the iron org but am hesitant to remove the old library. I also can't really rename it to "session" because otherwise we need a different name on crates.io.

[2016-11-07 03:06] icefoxen opened #498 "Using a BodyReader to read from a hoedown::Buffer makes an infinite loop."
At least on x86_64 Debian Testing, using stable rustc version 1.12.

Test code:

[code]

Cargo file:

[code]

When using the `buffer.to_str().unwrap()` line, I get:

[code]

When using the BodyReader version, I get:
[code]

[2016-11-07 03:23] icefoxen commented on #498
Interestingly, generating your response this way also infinite loops (and uses up all your memory):

[code]

So it appears that the issue with this might be in Hoedown's `Buffer::read()` function...

[2016-11-07 07:43] Hoverbear commented on #498
Thanks for reporting this! Keep us up to date with your exploration please!

[2016-11-07 14:02] icefoxen commented on #498
Yep, it's Hoedown's fault, I've submitted a bug there: https://github.com/blaenk/hoedown/issues/6

[2016-11-07 14:02] #498 closed

[2016-11-08 07:06] echochamber opened #499 "Add a link to the annotated clippy service docs."
I only happened to find [this link](https://clippy.bashy.io/docs/) when I was reading arewewebyet.com. Seems like something that should be linked in the README

[2016-11-08 10:09] Hoverbear commented on #499
Can you explain why? This isn't the clippy repo.

[2016-11-08 17:09] echochamber commented on #499
Its not uncommon for libraries/frameworks to link to other projects that were built using those. Its the only "real world" example of a site built with iron I've seen so far.

[2016-11-08 18:10] untitaker commented on #499
Ah, yeah. I think we should totally link to this on the website (but not in this repo)

[2016-11-09 10:03] sackery opened #500 "Add HTTP/2 support."
The HTTP version 2 is the future of web, is there any plan Iron for supporting it?

[2016-11-09 10:07] untitaker commented on #500
That's the job of Hyper, please refer to https://github.com/hyperium/hyper/issues/304. If Hyper supports it, we can reopen this issue if Iron needs modification.

[2016-11-14 20:19] korczis commented on #359
Any plans with this?

[2016-11-15 03:37] KodrAus commented on #446
For discoverability I think it would be good to keep this issue around and open in some form until `iron` provides a `futures` based (or whatever it ends up being) implementation for asynchronous request handling.

[2016-11-15 10:49] untitaker opened #501 "Port to Hyper's tokio branch"
Rough plan:

* Add a new trait `AsyncHandler` with a method `handle_async`. There is a `impl<H: Handler> AsyncHandler for H` that just delegates an invocation of `Handler::handle(self, ...)` to a threadpool. (where is the threadpool stored?). The idea is that users can still impl synchronous handlers using `Handler`, but drop down to `AsyncHandler` if they really care about performance.

  * Impor

[2016-11-15 10:49] untitaker commented on #446
https://github.com/iron/iron/issues/501 here you go

[2016-11-15 17:45] Hoverbear commented on #501
This will be a big job and introduce significant breaking changes.

[2016-11-16 03:39] makoConstruct opened #502 "[feature request/documentation problem] can/do we have a convenience function for making a simple IronError from a String"
Can we get a convenience function for creating an IronError from a String? It seems like the most concise way to do this currently is:

[code]

Which seems implausibly inconvenient and I wonder if I'm just missing something. If I am missing something, please add a note to http://ironframework.io/doc/iron/error/struct.IronError.html?search= to indicate that there is an easier way to produce them.

[2016-11-16 11:15] ernestas-poskus commented on #501
If you plan to make middlewares async it might brake expected behavior where authorization or alike middleware must go first.

[2016-11-16 11:27] untitaker commented on #501
Middlewares would still be applied in order.

[2016-11-16 12:06] Hoverbear commented on #501
Right. By async we mean the middlewares themselves should support being async, so they should not block, for example. They would still be done in order.

[2016-11-16 12:18] Hoverbear commented on #502
Hrm, we could maybe implement [`From`](https://doc.rust-lang.org/book/error-handling.html#the-from-trait) for `String`...

[2016-11-18 15:20] asteriskTheServer opened #503 "Confused on how to use chain correctly"
I have the following code

[code]

However, I get the error

[code]

From my understanding of this crate the variable `router` should have been used as the handler. With the r2d2 pool being both and after middleware as suggested by the iron persistent crate. So I am a little confused as to where I am going wrong.

[2016-11-18 16:47] asteriskTheServer commented on #503
Never mind, it appears using the mount crate will resolve this issue.

[2016-11-18 16:47] #503 closed

[2016-11-18 17:47] bluss opened #504 "Use `#[doc(no_inline)]` in the prelude"
Some items are being inlined into the prelude's docs, they should just be links to where the items are defined. It should be possible to fix this with doc(no_inline).

[2016-11-19 23:05] reem commented on #483
Better yet just moved the repo over to https://github.com/iron/build-doc

[2016-11-20 01:57] untitaker commented on #483
I fixed up the ssl feature stuff, but it appears deployment in general fails, see the current travis build: https://travis-ci.org/iron/iron/jobs/173813466#L1279

[2016-11-20 08:22] Hoverbear commented on #483
Doh!

[2016-11-21 18:14] #504 closed

[2016-11-21 18:15] untitaker commented on #504
Cool beans, thanks

[2016-12-03 16:34] ysimonson opened #505 "Broken documentation"
Hi! I found a couple of issues browsing the documentation:

1) Certain pages are unstyled. e.g.: http://ironframework.io/doc/urlencoded/type.QueryMap.html
2) Some things are documented twice. See `query_pairs` in [this search result](http://ironframework.io/doc/url/struct.Url.html?search=query). Maybe this is fixed by the [latest commit](https://github.com/iron/iron/commit/cfd484652431d196650ecb0f

[2016-12-03 17:36] Hoverbear commented on #505
Hrm, it looks like the rustdoc.css is never being pulled in...

[2016-12-09 09:13] huin opened #506 "Provide Chain method to add outermost before/after"
In order to conveniently support middleware that must run as the first before and last after middleware (such as https://github.com/iron/logger). This is currently supported as given in the example for that crate:

    let (logger_before, logger_after) = Logger::new(None);
    // ...
    // Link logger_before as your first before middleware.
    chain.link_before(logger_before);

    // Link logge

[2016-12-18 01:36] Ryanl92 commented on #444
Hi, I've just run into this problem as well. Here is a minimal working example of the problem, if you load this in your browser. (Well in Firefox 50, linux at least). The linked ticket in hyper suggest the problem is resolved in 1.10 though.

https://gist.github.com/Ryanl92/f973f79d8800277ac1013d257844a101

[2016-12-19 22:06] bbigras opened #507 "doc is outdated"
I don't see WriteBody in the documentation on http://ironframework.io/doc/iron/

[2016-12-21 18:50] Hoverbear commented on #507
In the meantime you can reference https://docs.rs/iron/0.4.0/iron/?search=writebody

[2016-12-22 05:47] nathanaeljones opened #508 "Any way to ensure bound ports are released?"
Is there a way to ensure that bound ports are released (even if the server panics during a request, or receives a termination signal)?

`Iron::new(_).http(_)` -> `Io(Error { repr: Os { code: 98, message: "Address already in use" } })`

[2016-12-22 05:51] nathanaeljones commented on #508
I also wonder why `SO_REUSEADDR` isn't working (apparently)
[code]

[2017-01-08 06:02] sfackler commented on #425
@untitaker I believe the request is for a method that forwards to `Request::downcast_ref`: https://docs.rs/hyper/0.9.14/hyper/server/request/struct.Request.html#method.downcast_ref

[2017-01-10 11:01] #424 closed

[2017-01-10 11:01] #447 closed

[2017-01-10 11:01] #483 closed

[2017-01-11 22:36] gsquire opened #514 "Re-export url crate"
I know the names are conflicting, but it would be helpful to re-export the url crate's `Url` type. I found it unfortunate that I had to import the url crate to use the `Into` trait for iron's `Url`.

This came after the deprecation of `into_generic_url` in 0.4.1.

[2017-01-11 22:40] #514 closed

[2017-01-11 22:41] untitaker commented on #514
Thanks, I'll wait 1-2 days until I do a bugfix release (perhaps there are more things I've missed).

[2017-01-11 22:43] gsquire commented on #514
No problem! Thanks for adding it in.

[2017-01-13 04:27] sfackler commented on #458
You can now provide an arbitrary Hyper `Listener` to Iron - does that cover this feature request?

[2017-01-13 04:28] sfackler commented on #386
This is implemented in #510

[2017-01-13 04:28] #386 closed

[2017-01-13 04:30] sfackler commented on #348
I believe this is a Hyper rather than Iron issue - the `headers` module is reexported from Hyper.

[2017-01-13 04:30] #348 closed

[2017-01-18 07:47] hayd commented on #501
Hyper's tokio branch is now in master. https://github.com/hyperium/hyper/commit/2d2d5574a698e74e5102d39b9a9ab750860d92d1

[2017-01-18 17:50] Boscop opened #517 "Redirect to desired page after login possible?"
Let's say the user tries to access /post/42/edit but isn't logged in, so he isn't allowed to edit the post, it's easy to redirect him to /login but how to redirect to the original endpoint /post/42/edit after successful login (such that the usual checks are done that are done when accessing the url while logged in, e.g. that the user is owner of the post).
I think the original path has to be passe

[2017-01-19 10:17] untitaker commented on #517
That is correct, though you would rather use a query parameter (the part after
the ?) for this. Look at how GitHub does it, for example.

[2017-01-19 16:06] Boscop commented on #517
Thanks!

[2017-01-19 16:06] #517 closed

[2017-01-19 21:09] Boscop opened #518 "ERROR iron::response - Error writing response"
I wanted to test my app on mobile, so I ran the server on my laptop and tested it on my phone, over the wifi router, but often the page didn't load completely, and the server logged the following:
[code]
(It's running on Windows 8.1 btw).
This issue never happens when I access the site from the same laptop.
My phone is a Oneplus One and the browser is Chrome Mobile, it never has such problems acce

[2017-01-19 21:20] untitaker commented on #518
You're most likely listening on `127.0.0.1` when you have to listen on `0.0.0.0`.

[2017-01-19 21:25] Boscop commented on #518
No, I'm listening on 0.0.0.0:3000:
[code]
The FULL_URL is so that redirects work on the phone..

[2017-01-19 21:28] untitaker commented on #518
Then it is perhaps a firewall from Windows?

[2017-01-19 21:36] Boscop commented on #518
No, I had that problem before, but then I allowed the exe on both private and public networks.
Before that I got `ERR_CONNECTION_TIMED_OUT` on the phone (refused to connect), after that I got the content, but in some cases it fails and only loads the site to ~75% before this error happens. Then I refresh and it succeeds. I definitely think it's not a firewall issue.

[2017-01-21 11:44] untitaker commented on #518
Do you have a comparable experience with any other development server? Such as
`python3 -mhttp.server`.

On Thu, Jan 19, 2017 at 01:36:34PM -0800, Boscop wrote:

[2017-01-21 17:28] Boscop commented on #518
This project can't be served with a simple file server because it's using maud to render the html and needs db access etc.
But I tested another project (the Polymer starter kit) with `python -m SimpleHTTPServer` (I don't have Python 3 installed.) and when I access it from my phone through the wifi router, I noticed it loads very slowly, although it still finishes getting the whole page in the end.

[2017-01-21 17:40] untitaker commented on #518
Sure, but I meant to test whether this is a network problem. So which project you choose wouldn't matter. Python's builtin server is very slow, that is known.

I don't know what's wrong with it. Could you check whether this happens with other Hyper-based frameworks, or whether this problem occurs with clients other than the laptop it's running on and your smartphone?

[2017-01-24 09:22] Boscop opened #519 "Status code when responding with Path"
When responding to a request with a Path, like `Response::with(Path::new(...))` will have status `None`. Chrome interprets this as 404 but still shows the image (I only tested it with images).
So now I'm responding with `Response::with((status::Ok, Path::new(...)))`
But this means that I always get the ok status.
What's the best way to get the status code 200 or 404 depending on whether the file e

[2017-01-24 09:35] Boscop commented on #519
Nevermind, I found out it panics when the file doesn't exist, so I'm doing this now:
[code]

[2017-01-24 09:35] #519 closed

[2017-01-24 10:18] lilith opened #520 "Listen on multiple ports?"
Is there a common pattern for listening on multiple ports (say 80 and 443), while preferably sharing the same threadpool?

[2017-01-26 17:07] Hoverbear commented on #520
Hm... Not to my knowledge at this moment. One possibility is just listening on 443 with a second Iron instance and proxying it to the 80.

[2017-02-02 08:13] brunoqc commented on #495
Maybe the sessions link from the README should be removed since it now points to https://github.com/iron-graveyard/session

[2017-02-06 11:41] zoumi commented on #507
http://ironframework.io/doc/iron/headers/struct.Cookie.html
iron::headers::Cookie should be Cookie(pub Vec<Cookie>) in hyper
not Cookie{...} in crate cookie

[2017-02-19 23:15] untitaker commented on #501
#523 updates to async Hyper, for now just using a threadpool

[2017-02-26 11:21] mitsuhiko commented on #449
For what it's worth this problem still exists. From what I can tell you need to use the plugin crate explicitly?

[2017-02-26 11:24] untitaker commented on #449
Pluggable is reexported though

[2017-02-26 11:25] mitsuhiko commented on #449
The only re-export is in the prelude and from what I can tell this re-export does not work.

[2017-02-26 11:25] mitsuhiko commented on #449
Oh, maybe it's because the type gets renamed to Pluggable? In any case the experience is very confusing.

[2017-02-26 11:27] untitaker commented on #449
The other way around, Pluggable is exported as Plugin

[2017-02-26 11:28] untitaker commented on #449
Also the reexport is at the top-level, see src link earlier.

[2017-02-26 11:28] mitsuhiko commented on #449
Then in addition to the compiler error the docs are still wrong. It says the reexport is in prelude.

[2017-02-26 11:31] untitaker commented on #449
Ok, so this is a docs issue. Ftr Pluggable is exported at top-level and within the prelude, both times under the name Plugin.

[2017-02-26 11:34] mitsuhiko commented on #449
I would propose not renaming it. Because what brought me to this issue here is not the docs but the compiler error.

[2017-02-26 11:38] untitaker commented on #449
Renaming API because of possible bugs in the compiler (and rustdoc) sounds unappealing. This name has been like that forever, so I have no idea what caused the docs to end up like that.

[2017-02-26 14:37] jmatraszek commented on #357
Hi @gyscos,
could you please share a snippet with working workaround for this? I'll trying to implement this using dummy connection, but I fail to close Iron even after that. I would really appreciate that.

[2017-02-27 15:51] SirRade commented on #220
Is anyone working on this? Seems like something very important to do.

[2017-02-27 22:10] reem commented on #220
Unfortunately I never got around to completing this, but I did write one chapter in this repo: https://github.com/iron/byexample

I agree it is extremely important and I would be extraordinarily grateful if anyone contributes further chapters addressing any of the other topics I listed above.

[2017-02-28 10:32] hicqu opened #524 "In which style to use iron is recommended?"
Iron is a wonderful web framework. But how to use it in product environment?
1.  Directly listen on 80(or 443 for https), 200 threads in one process;
2.  Directly listen on web ports, 20 threads per process, 10 processes(with REUSEPORT socketopt on Linux);
3.  Directly listen on web ports, 20 threads per process, prefork 10 processes;
4.  Listen on other ports, and using nginx as reverse proxy;
5.

[2017-02-28 11:21] untitaker commented on #524
All of the above are fine, though having multiple processes appears to be overkill for me (the server really restarts fast enough).

[2017-03-05 18:19] xliiv opened #525 "[Question] Request stub in test consuming Iron crate"
I'd like to use `Request::stub` this:
https://github.com/iron/iron/blob/a7c2ed64e6200ba96c1dd77f0eddf527bf0d51a3/src/request/mod.rs#L133
in one of my tests in my binary (which consumes `iron` crate).
I was told that it's impossible (because after compilation it's thrown away).
Ok.

Then i went with this bare creation, like here:
https://github.com/iron/iron/blob/a7c2ed64e6200ba96c1dd77f0eddf527bf0

[2017-03-10 10:51] frjonsen commented on #425
I suspect this bug is due to this: https://github.com/iron/iron/blob/master/src/iron.rs#L137

When constructing a https server, Protocol::http() is used. This makes things like the iron-routers url_for! not work properly, because it constructs a http:// url even when using https.

[2017-03-10 11:00] untitaker commented on #425
@frjonsen I think your bug is valid but not related to this issue

[2017-03-10 11:04] frjonsen commented on #425
Ah, yes, I see now I went through the issue a bit quickly, as it seemed similar enough to the issue I was having. Sorry about that.

[2017-03-10 11:10] frjonsen opened #526 "Https listener is constructed with http protocol"
As seen here: https://github.com/iron/iron/blob/master/src/iron.rs#L137

When constructing a https server, Protocol::http() is used. This makes things like the iron-routers url_for! not work properly, because it constructs a http:// url even when using https.

[2017-03-10 11:11] untitaker commented on #425
Please create a new issue though

On 10 March 2017 12:04:28 CET, "Fredrik Jonsén" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-11 22:30] xliiv commented on #525
Solution for my own question:
https://github.com/iron/iron-test/blob/master/src/request.rs#L57

[2017-03-11 22:30] #525 closed

[2017-03-17 00:55] matthauck commented on #444
I'm able to repro this still with the latest versions of stuff: https://gist.github.com/matthauck/58756f0be5907673ded2254fba59f07a

[2017-03-17 01:00] untitaker commented on #444
Please post your Cargo.lock.

[2017-03-17 01:02] matthauck commented on #444
Ah yes, that would be helpful. Posted. Interesting there are two versions of hyper listed...

[2017-03-17 01:06] untitaker commented on #444
Ok, I assume this is fixed in the async branch of hyper and will be fixed when that is released.

[2017-03-17 01:17] matthauck commented on #444
`/shrug`  Hopefully...?

Thoughts on implementing a workaround for now? It seems to me pretty common that a request is not read (i.e. early return from middleware because some session header/cookie was not present.). Unclear what the timeline is for the release of that async branch of hyper.

Maybe closing the connection when there is still data left to read after a request is done? I've implement

[2017-03-17 01:22] untitaker commented on #444
I'm unsure about just reading in all the data. This seems like it would have severe perf impact in some situations (like rejecting massive file upload due to failed precondition or missing permissions)

[2017-03-17 01:27] sfackler commented on #444
I've added an after middleware that reads the remaining request body to a project I'm working on for this kind of thing. Hyper should probably have some logic to dispose of connections that haven't had their bodies consumed though - cc @seanmonstar

[2017-03-17 02:10] seanmonstar commented on #444
Yea, it's a known issue in sync hyper (0.10 and before). The fix would be fairly difficult to do, and resources aren't really dedicated at the 0.10.x branch anymore.

The fix in async was basically to just close the connection if the full body wasn't read. It's the sanest default.

As for the bug, if I recall correctly, the only thing really happens is an error log line is generated and then the c

[2017-03-17 06:44] matthauck commented on #444
@untitaker: yeah, not advocating reading in all the data. That is not a good solution for the framework, just a middleware workaround for me I've added. I was suggesting iron could maybe drop the connection if it was not read all the way -- the `Request` object does not expose a way to do this, but thought maybe iron had a way to do this internally.

@seanmonstar: interesting. the way this manifes

[2017-03-17 17:31] sfackler commented on #444
When a connection with an unconsumed body is recycled for keepalive, Hyper's internals will immediately try to read a new request for it, get the remaining request body, fail to parse it as an HTTP header, and drop the connection. Normally this is fine, but if the client *immediately* tries to reuse the connection for another request, that can happen before it's notified that the connection droppe

[2017-03-19 04:50] matthauck commented on #444
@sfackler: Are you referring to new or old behavior in hyper?

[2017-03-19 04:56] sfackler commented on #444
This is the behavior of current hyper (0.10)
On Sat, Mar 18, 2017 at 9:51 PM Matt Hauck <notifications@github.com> wrote:

[2017-03-27 05:08] MJDSys commented on #501
I've started digging into the meat of this issue (Async Iron on Async Hyper, based off of #523).  However, I'm running some lifetime issues.

Basically, when my ```async_handle``` function returns, I can't have references to either the handler or the request hanging around, as the response isn't constructed until later.  For requests, I've tried stepping around this by moving in a ```Request``` in

[2017-03-27 14:44] ghmlee commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-03-28 02:04] flada-auxv commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-03-28 17:10] brycefisher commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-03-29 01:27] ghmlee commented on #417
@cmr Please mark my username and can you please remove my username on the list?

[2017-03-29 01:32] mavdi commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-03-29 01:51] ucarion commented on #417
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-04-04 16:29] bfrog commented on #501
Will this let me build my own listener per thread now? Its been a long time pain for me that everything using iron must be Sync+Send if shared among handlers when what I'd really like is per thread state rather than global state.

[2017-04-04 18:54] MJDSys commented on #501
@bfrog My current implementation in #527 currently is single threaded, and the AsyncHandler's don't require Sync+Send.  However, the Request does need to be Send due to needing Handler implementations needing to be run on a thread pool, and thus requiring the Request to be sendable across threads (and thus anything you put in the request's extensions needs to be Sendable).

I don't know if the Iro

[2017-04-04 18:58] bfrog commented on #501
Thats perfect. No I don't extend the Request's themselves, I'd like to have per thread handlers that look something like.... struct MyHandler { db_conn: Conn } where conn doesn't need to be shared among a bunch of threads. Your changes make it sound like this will work perfectly with that.

[2017-04-04 19:08] MJDSys commented on #501
Yep, that should work fine.  The only problem is that you can't do any long work in the async_handle function, as you block the IO as well.  I'm looking to start using my branch for a project, and I'm looking to use tokio_postgres to talk to my database for that reason.  You might also have to share that one connection across several requests, but at least you don't have to worry about threading :

[2017-04-07 17:41] futursolo opened #528 "The content-length of the Response does not follow RFC 7230"
Currently, Iron always sends a content length header with the client when there's no body.

However, as per [RFC 7230 [section 3.3.2]](https://tools.ietf.org/html/rfc7230#section-3.3.2), there're certain cases that the web server should not send a content length header or the content length in the header does not match the actual length of the content.

    A server MAY send a Content-Length heade

[2017-04-09 01:32] Thomspoon opened #529 "http://ironframework.io has outdated dependency version"
Router, and a few other MiddleWares are "broken" if starting development from http://ironframework.io due to the fact that it tells you to import 0.4.1 instead of its current version 0.5.1.

[2017-04-12 13:56] dorfsmay opened #532 "Why not use rustfmt?"
Is there a reason why iron/iron code does not comply with rustfmt format?

It means that those of us who use rustfmt plug-ins have to disable the plug-ins from our editors before we can work on this project. It also open space for discussions about style...

I'm happy to create a Pull Request for this, but first want to know if there's a reason for not using it.

[2017-04-13 13:48] untitaker commented on #532
Feel free to open a PR and cc me

On Wed, Apr 12, 2017 at 06:56:53AM -0700, Yves Dorfsman wrote:

[2017-04-13 14:22] Hoverbear commented on #532
I'm concerned this will make merging #523 etc very hard.

[2017-04-13 14:32] dorfsmay commented on #532
@Hoverbear Would make sense to cancel this PR (there really was no worked involved), put a moratorium on big PRs until the current ones are being merged, and start this initiative again after that?

[2017-04-13 16:08] untitaker commented on #532
agreed with @dorfsmay, this could be done in either order. It doesn't matter tbh.

[2017-04-13 16:44] Eilie opened #534 "987k non 2xx responses"
Hello,

Tried to benchmark Iron with wrk and got following output:
[code]
What does following line mean?
[code]

[2017-04-13 16:50] untitaker commented on #534
With which iron app did you test that?

[2017-04-13 17:18] Eilie commented on #534
@untitaker https://github.com/iron/iron/blob/master/examples/hello.rs

[2017-04-13 17:35] untitaker commented on #534
I don't get those stats on my local machine using the same command as you did. Can you access the URL you used for wrk from your browser? This may be one of those issues where Iron listens to the  ipv6 localhost (`[::1]`), but wrk sends their request to ipv4 localhost (`127.0.0.1`). Replace `localhost` with an IP address (`127.0.0.1`), both in your app and the wrk command to work around this.

[2017-04-13 17:48] Eilie commented on #534
@untitaker Alright, I was using old binary(building with `--release` manually) so hello.rs works fine indeed. I'm sorry. The code that triggers such response is following:
[code]

Building it with `--release` and wrk command is `wrk --latency -t12 -c100 -d10s http://127.0.0.1:3000/name/foo`

[2017-04-13 17:49] sfackler commented on #534
http://127.0.0.1:3000/name/foo is going to hit a 404, which is not a 2xx or 3xx response code.

[2017-04-13 17:51] untitaker commented on #534
Steven: I thought that too, but since the helloworld example is not using a
router, it accepts any URL path.

On Thu, Apr 13, 2017 at 10:49:21AM -0700, Steven Fackler wrote:

[2017-04-13 17:52] untitaker commented on #534
Ah, but you are right for the example @Eilie posted.

[2017-04-13 18:11] Eilie commented on #534
@sfackler @untitaker Ohhh.. Feeling retarded, sorry about that. That explains everyhting, thank you guys a lot!

[2017-04-13 18:11] #534 closed

[2017-04-13 18:14] untitaker commented on #534
Great to hear, and no problem :)

On April 13, 2017 8:11:15 PM GMT+02:00, Eilie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-14 13:45] dorfsmay opened #535 "Where should tutorial go?"
Where is the source for http://ironframework.io ?

Where should tutorials and more in-depths explanation go?

Just doc strings isn't sufficient, I feel like I have to google for hours to understand concepts about Iron, and from comments I see on blogs etc... I'm not the only one.

[2017-04-14 13:56] untitaker commented on #535
That website is hosted at https://github.com/iron/iron.github.io

I think we could add some links to third-party tutorials until we have a dedicated website for this.

[2017-04-14 14:00] dorfsmay commented on #535
Why not starting an area now? Even if it's not pretty, it'll encourage people to add to it as they learn. In fact not being pretty might irk somebody enough to improve it!

[2017-04-14 14:02] dorfsmay commented on #535
Another issue with linking to blogs etc... is time rot. As Iron is getting changed, external blogs won't be updated, while internal docs have both more chances to be updated and getting complaints about (and being updated as a consequence).

[2017-04-14 14:09] untitaker commented on #535
If you have the time to create a new website I would apprechiate it! The problem with the current one is that it is IMO barely extensible. We should switch to a popular static site generator.

[2017-04-14 14:14] dorfsmay commented on #535
I'd go one step further, let's pic a popular markup in order not to be coupled with a tool.

Any suggestions?

[2017-04-14 14:17] untitaker commented on #535
I dont understand what you mean. We already use markdown, partially.

On April 14, 2017 4:14:22 PM GMT+02:00, Yves Dorfsman <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-14 14:20] untitaker commented on #529
Fixed, thanks!

[2017-04-14 14:20] #529 closed

[2017-04-14 14:22] dorfsmay commented on #535
What I meant was to be careful not getting into specialized markup that comes, and can only be rendered, with a specific tool. Any suggestion for a tool?

[2017-04-14 14:30] untitaker commented on #535
We will need to settle for some generator whether we like it or not. AFAIK
Markdown doesn't have any syntax for e.g. cross references.

I had Hugo or Lektor in mind, but I don't know which one would be more popular.

On Fri, Apr 14, 2017 at 07:22:46AM -0700, Yves Dorfsman wrote:

[2017-04-14 14:56] untitaker commented on #507
Now everything redirects to docs.rs! Two things need to be done:

* Remove `build-docs.sh` from all CI configurations
* Add missing redirects

[2017-04-14 14:56] #507 closed

[2017-04-14 14:57] untitaker commented on #505
We now use docs.rs. Unfortunately this link doesn't work, but the base URL `/doc/urlencoded/` does at least.

[2017-04-14 14:57] #505 closed

[2017-04-14 14:58] untitaker commented on #502
I recommend using `error-chain` for proper errorhandling. Creating simple stringly-typed errors is an antipattern (not specific to Rust), and error-chain helps with that.

[2017-04-14 14:58] #502 closed

[2017-04-15 00:30] dorfsmay opened #536 "Why are cookie and seesion in the graveyard? Recomended way to deal with cookies?"
Both the cookie and session plugin are in an org called "iron-graveyard", self-described as "A holding site for old, deprecated iron packages.".

- The README.md in iron/iron links to iron/session and iron/cookie, but there's then a redirection to iron-graveyard. Is that ok? It is confusing, it looks as though those are current official plugins, but then show plugins that are said to be "deprecate

[2017-04-15 09:14] untitaker commented on #536
The most current session management crate is `iron-sessionstorage`. The other ones are unmaintained.

[2017-04-15 09:16] untitaker commented on #536
I just updated the README for this. Please point out other bad links.

[2017-04-15 09:16] #536 closed

[2017-04-15 10:56] Eilie opened #538 "Iron + slog"
Hello,

How can I use Iron and slog for logging?

[2017-04-15 10:58] Eilie commented on #538
I've tried to follow example from https://github.com/iron/logger to setup simple logger but also failed because I'm using iron router instead of Chain thing.

[2017-04-15 11:02] Hoverbear commented on #535
What hosts the site? If it's Github pages they have built in jekyll support for repos.

[2017-04-15 11:04] untitaker commented on #535
It is GitHub pages, but we can use Travis to build anything.

[2017-04-15 14:19] dorfsmay commented on #536
https://docs.rs/iron/0.5.1/iron-sessionstorage redirects to https://docs.rs/iron/0.5.1/iron/

No mention of session nor cookies anywhere in that page.

[2017-04-15 14:51] dorfsmay commented on #536
I cloned the iron-session repo, "cargo doc" and went through it's documentation.

There is no easy was to get the value of a cookie outside of a session. Cookies are used for a lot of things outside session, turning feature flags on, routing in blue/green environment, etc...

Also, cookies are just a form of sepcialised header. As far as I am concerned, iron/headers is missing the concept of cooki

[2017-04-15 15:01] untitaker commented on #536
Iron has structs for Cookie and Set-Cookie if that is the kind of low-level access you need. Otherwise I don't see why you can't use iron-sessionstorage for the usecases you described. It exposes a key-value storage interface that supports the operations you want, and it can be set up to use signed cookies underneath.

Where did you find the URL for iron-sessionstorage that doesn't work?

On April

[2017-04-15 15:26] untitaker commented on #536
BTW the correct doc url for iron-sessionstorage is https://docs.rs/iron-sessionstorage

On Sat, Apr 15, 2017 at 07:51:23AM -0700, Yves Dorfsman wrote:

[2017-04-15 15:46] dorfsmay commented on #536
Thanks for the link to iron-sessionstorage doc. No bad link, I had gone to iron docs, and replaced the name, so my own fault.

`Iron has structs for Cookie and Set-Cookie`

I must be missing something. I hate to ask for things I should be able to find myself, but can you point me to Iron's struct for "cookie"?

I cannot find it in the doc. I did a fetch/pull on iron and "ag -i cookie" is not retur

[2017-04-15 15:48] untitaker commented on #536
On Sat, Apr 15, 2017 at 08:46:51AM -0700, Yves Dorfsman wrote:

https://docs.rs/iron/0.5.1/iron/headers/struct.Cookie.html

I recommend using the search on the site itself, it has worked well for me.

[2017-04-15 18:03] Technius commented on #535
Is there an issue tracking a list of things to be documented? I'd like to contribute, but I'm not quite sure where to begin.

[2017-04-15 18:18] untitaker commented on #535
There is no official, but if you ask on the /r/rust subreddit I'm sure somebody
will be happy to give you a very detailed answer on what's wrong with Iron's
docs :)

On Sat, Apr 15, 2017 at 11:03:15AM -0700, Bryan Tan wrote:

[2017-04-24 09:53] quadrupleslap opened #541 "Unicase should be re-exported."
`pub struct AccessControlAllowHeaders(pub Vec<UniCase<String>>);`

[2017-04-24 13:54] untitaker commented on #541
Yes it should be here. Headers are case-insensitive.

[2017-04-24 17:13] quadrupleslap commented on #541
Sorry, I was trying to ask if UniCase was only being used in comparisons, and so didn't need to be exposed by the external API. This is very slightly annoying because it means you sometimes have to add a `unicase` dependency to `Cargo.toml` just to add a single header.

[2017-04-25 11:23] untitaker commented on #541
Right, we should probably reexport unicase from hyper.

[2017-05-03 21:52] franklinyu commented on #488
@untitaker I think that pull request has made it to master? No?

[2017-05-04 07:24] untitaker commented on #488
`master` would be irrelevant, but it has been merged into a maintenance branch as well. Can anybody confirm this issue is fixed?

[2017-05-08 13:27] sanmai-NL commented on #488
@unitaker: I can confirm that `curl -f -v "http://[::1]:8000/"` now works as expected.

[2017-05-08 13:27] #488 closed

[2017-05-09 05:44] MJDSys commented on #532
@dorfsmay @untitaker I'm happy to do whatever as well.  If you wish to merge #533 first, I can rebase on top of that, maintaining the rustfmt runs.  In fact I suspect there is some git trickery I could do to make that trivial :).

Or we can merge #523, then redo #533 on top.  Whatever works for the iron project.

[2017-05-09 22:33] llompartg commented on #481
Hi

Is this still open pending?

[2017-05-10 10:25] untitaker commented on #481
Yes it appears so, though in the meantime multiple packages for this may exist. If one could compile a list, we can close this.

On 10 May 2017 00:33:10 GMT+02:00, Guillem Llompart <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-05-11 02:07] sunng87 commented on #481
I believe this should be done in an iron ecosystem crate, instead of inside iron itself. As a micro server library, iron has a beautiful, extensiable design to do this externally. We should keep the core compact.

[2017-05-12 09:02] DavidBM commented on #538
I'm using this in my code:

[code]

and then in your function,
[code]

[2017-05-19 20:58] dessalines opened #546 "How to add my SSL cert, say from certbot?"
I don't see any instructions for how to ssl-enable / add `https` support.

[2017-06-01 07:40] memoryleak47 opened #547 "-password instead of --password in https example"
In examples/https.rs on line 11
Current:
`openssl pkcs12 -export -out identity.p12 -inkey localhost.key -in localhost.crt --password mypass`

but probabbly you ment:
`openssl pkcs12 -export -out identity.p12 -inkey localhost.key -in localhost.crt -password mypass`

[2017-06-02 09:35] TheWaWaR opened #548 "How can I write a streaming compression(deflate, gzip) Middleware"
### What `Response.body` looks like
[code]

### What `WriteBody` looks like
[code]

As you can see, `WriteBody` has only one method `write_body` to write itself to a given `Write` (which is hyper::server::Response<Streaming>). Once `write_body` is called, it write its entire data to the `Write`, which is not flexible.

So, in a `AfterMiddleware` how can I consume `Request.body` and Encode it with

[2017-06-03 02:00] TheWaWaR commented on #548
Wow, thanks! Seems a great solution. I'll test it soon!

[2017-06-03 03:02] TheWaWaR commented on #548
Solved, thanks again!

[2017-06-03 03:02] #548 closed

[2017-06-13 13:13] yinpeng commented on #546
A reverse proxy like nginx server may help you.

[2017-06-13 15:35] dessalines commented on #546
No reason to use nginx if Iron is already a webserver. Every webserver should have ssl support.

[2017-06-20 05:12] umurgdk opened #550 "Shall I add documentation for modifiers?"
I was struggling to understand how to use that modifiers, and what are the possibilities. Finally got the point, and would like to add documentation for each modifier and also how to add your own modifiers. But currently rustdoc doesn't support to show documentation for trait implementations --where they defined-- (in modifiers.rs) So it seems like the only options is adding those documentation to

[2017-06-23 03:19] robinst opened #551 "Release 0.6.0 with changes on master"
(From the comments here: https://github.com/iron/iron/pull/544#issuecomment-303621983)

It would be cool to get a 0.6.0 release with the changes in master since 0.5.1 (from January): https://github.com/iron/iron/compare/0.5.1...master

The following would be worth releasing:

* Dependency cleanups: https://github.com/iron/iron/compare/0.5.1...master#diff-80398c5faae3c069e4e6aa2ed11b28c0
* API chan

[2017-06-23 05:14] piedoom commented on #546
Pardon if I'm wrong, but in production wouldn't you almost always want to use an nginx reverse proxy to the application?

[2017-06-23 05:27] sfackler commented on #546
Even if you want an nginx at the front door, you may still want to encrypt the in-network communications of the server and whatever else it's talking to.

[2017-06-23 05:43] dessalines commented on #546
Not really. You can use linux routing tables to redirect incoming traffic to your application's web server port, so adding an extra layer is entirely unnecessary.

[2017-06-29 02:57] robinst commented on #550
Yes please, it's one of the most confusing parts of Iron IMO. (Disclaimer: I'm not a maintainer.)

[2017-07-04 13:53] #547 closed

[2017-07-06 16:48] selaux opened #553 "Read from WriteBody"
Hi. I'm currently implementing a compression middleware for iron: https://github.com/selaux/iron-pack

In order to do this I am reading from `res.body` in a `AfterMiddleware` and compressing the result using a `Modifier`. Unfortunately `WriteBody` does not implement `Read`, so the only way is to write the whole body somewhere first, which I would like to avoid. Is there any way that `Read` could b

[2017-07-06 17:13] sfackler commented on #553
See here for an example of how to do this: https://github.com/iron/iron/issues/548#issuecomment-305829393

[2017-07-07 07:27] selaux commented on #553
Thanks, that was what I was looking for. Sorry for not searching first properly 😉 .

[2017-07-07 07:27] #553 closed

[2017-07-20 14:00] sanpii commented on #541
For information, iron requires unicase 1.4 (not 2.0).

[2017-07-24 23:48] robinst commented on #551
@reem @untitaker ?

[2017-07-29 12:30] vishalcjha opened #554 "Iron Web Framework gives some phantom error"
I am using iron. Most of time like 99.* % all is good. But sometimes I get error like Error was: ErrorImpl { code: EofWhileParsingString/List/Object, line: 1, column: 8186 } or InvalidUnicodeCodePoint. I am printing request in log and when i try that request every thing goes well. I also have server written in Golang receiving same request and they never have parsing or json to MyStruct conversion

[2017-07-29 15:39] vishalcjha commented on #554
Used Rocket framework to do same and it is giving same error. Looks like problem is either with serde-json or hyper as both use them.

[2017-08-12 23:47] Diggsey commented on #506
The current behaviour WRT `Chain::link` seems like a bug or at the very least a footgun - there's no situation where you want to interleave before/after middleware like that, such that you run `A_before, B_before, A_after, B_after`.

IMO, `link_after`, `link_before` and `link` should follow how `link_around` works - that is, `link_before` should be reversed, such that later items run before everyt

[2017-08-13 16:15] oldaniel opened #557 "Reading `req.body` has huge performance lack"
So, I am currently coding with **iron** (the web framework), since it is web stuff I want to read the users request body. And that's where I ran into damn big issues.

Wether I use `io::Read` or `io::BufReader`, wether I use `.read()`, `.read_to_end()` or `.read_to_string()`, my benchmark went from ~290k (without read) down to ~112 requests per second.

Example code:
[code]

**Does anyone have a w

[2017-08-25 10:58] BenjaminGill-Metaswitch opened #558 "Support `Warning` header"
Iron currently seems to lack support for the [`Warning` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Warning). I haven't checked if there are any others missing.

[2017-09-05 16:47] mrenoon commented on #558
It seems that this is due to the hyper version used in hyper is 0.10 which does not support Warning header yet. However, when you are dealing with a `headers: &mut Headers` , you can get/set the raw Warning headers like so:
[code]
[code]

[2017-09-19 20:09] oldaniel commented on #557
@plumenator I did a POST request with a normal user login, about 40bytes. I haven't been working in rust for a while, so yeah. For more research I need some time.

[2017-09-20 06:44] oldaniel commented on #557
@plumenator I tested your code, and it works now. I really have no idea what I did wrong, cause it works with the same code now. Reached ~320k requests per second again. Thanks.

[2017-09-20 06:44] #557 closed

[2017-09-20 06:50] plumenator commented on #557
Good to know!

[2017-09-26 01:22] robinst commented on #551
See here for why this is being held up (problems with permissions on crates.io): https://github.com/iron/urlencoded/issues/68

[2017-09-26 09:35] Hoverbear commented on #551
Ping @reem

[2017-10-12 05:19] xcstream opened #562 "refuse connection when testing with Apache Benchmark"
code: ironframework.io's example
target: release
os:macOS 10.12.6

ab -c 100 -n 50000 http://localhost:3000/
This is ApacheBench, Version 2.3 <$Revision: 1757674 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient)
Completed 5000 requests
Completed 10000 requests
Completed

[2017-10-12 06:05] xcstream commented on #562
maybe it's not a problem about iron

[2017-10-12 06:05] #562 closed

[2017-10-13 15:11] davechallis opened #563 "Silent disconnect on very long request URLs"
Using a simple server from the examples directory:
[code]

If I make a request to the server with an extremely long URL such as:
[code]
Then every HTTP client I use gets disconnected when making the request, with no status code returned by the server. E.g. using `curl` I get the following:
[code]
Using e.g. python's `requests` module, I get the error:
[code]
I was expecting to instead get a `414 (

[2017-10-13 15:55] kamyuentse commented on #563
That seems an upstream issue, related to hyper.